@use 'src/components/ThankYouBox/ThankYouBox';

.wmde-banner {
	@include ThankYouBox.layout;

	.thank-you-container {
		margin: 0 6px 16px;
		font-weight: bold;
		background: var( --thank-you-box-background );
		color: var( --thank-you-box-color );
		border-radius: 10px;
		text-align: center;

		.heart-icon {
			padding-right: 8px;
		}
	}
}
