@use '../variables/globals';
@use '../variables/fonts';
@use '../variables/colors';

$button-font-size: 14px !default;
$background-color: colors.$secondary !default;
$border-radius: 18px !default;
$height: 35px !default;

.wmde-banner {
	&-form {
		height: 100%;
		width: 100%;
		display: flex;
		overflow: hidden;

		&-page {
			height: 100%;
			width: 100%;
		}

		&-button {
			min-width: 240px;
			color: colors.$white;
			background-color: $background-color;
			border-radius: $border-radius;
			font-size: $button-font-size;
			line-height: 35px;
			height: $height;
			font-weight: bold;
			text-align: center;
			transition: background-color 500ms globals.$banner-easing;
			padding: 0;

			&:hover {
				background-color: $background-color;
			}
		}
	}

	&-sub-form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 100%;
		max-width: 100%;
		height: 100%;
		margin: 0;
	}
}
