@use '../variables/globals';
@use '../variables/fonts';
@use '../variables/colors';

.wmde-banner {
	&-form {
		&-field-group {
			padding: 0 0 10px;

			&-legend {
				display: none;
				visibility: hidden;
				font-family: fonts.$ui;
				font-size: 12px;
				line-height: 13px;
				color: colors.$black-light;
			}
		}

		&-button {
			min-width: 240px;
			color: colors.$white;
			background-color: colors.$secondary;
			border-radius: 18px;
			font-size: 14px;
			line-height: 35px;
			height: 35px;
			font-weight: bold;
			text-align: center;
			transition: background-color 500ms globals.$banner-easing;

			&:hover {
				background-color: colors.$secondary-light;
			}
		}
	}
}
