@use '../variables/fonts';

.wmde-banner {
	&-message {
		height: 100%;
		display: flex;
		align-items: center;
		font-family: fonts.$ui;
		font-size: fonts.$size-xl;
		line-height: 1.3em;
		text-align: left;

		p {
			margin: 0 0 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
