@use '@src/themes/Yperala/variables/globals';
@use '@src/themes/Yperala/variables/breakpoints';
@use '@src/themes/Yperala/variables/fonts';

@keyframes hide-mini {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}

.wmde-banner {
	color: var( --main-color );

	* {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&-full {
		visibility: hidden;
		opacity: 0;
		transform: scale( 1.1 );
		transition: opacity 500ms globals.$banner-easing, transform 500ms globals.$banner-easing;
	}

	&--visible {
		visibility: visible;
	}

	&--closed,
	&--not-shown {
		.wmde-banner-wrapper {
			display: none;
		}
	}

	&-wrapper {
		&--full-page {
			.wmde-banner-mini {
				animation: hide-mini 500ms;
			}
			.wmde-banner-full {
				visibility: visible;
				opacity: 1;
				transform: scale( 1 );
			}
		}

		&--soft-closing {
			.wmde-banner-mini {
				display: none;
			}
		}
	}

	&-headline {
		width: 100%;
		cursor: default;
		font-weight: bold;
		font-family: fonts.$ui;
		font-size: 2.8vw;
		color: var( --headline-color );
		letter-spacing: 1px;
		line-height: 32px;
		text-transform: uppercase;
		padding: 0 20px;

		@include breakpoints.phone-m-up {
			font-size: 14px;
		}
	}

	img {
		border: 0 none;
	}

	.soft-close-container {
		position: fixed;
		left: 0;
		width: 100%;
		z-index: 10000;
	}
}
