@use 'src/components/DonationForm/SubComponents/SmsBox';
@use '../../variables/globals';
@use '../../variables/breakpoints';
@use '../../variables/colors';

.wmde-banner {
	@include SmsBox.layout;

	&-sms-box {
		width: 100%;

		&-label {
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			font-family: inherit;
			font-size: 18px;
			font-weight: bold;
			color: colors.$black-light;
			background-color: colors.$gray-medium-bright;
			border-radius: globals.$form-element-border-radius;
			margin-bottom: 6px;
			padding: 0 2px;
			height: 60px;

			@include breakpoints.phone-s-up {
				font-size: 24px;
			}
		}

		&-notice {
			display: block;
			font-size: 9pt;
			line-height: 12pt;
			margin-right: 0;
			width: 100%;
			padding: 0 0 15px;
			color: colors.$secondary-dark;
		}

		.sms-icon {
			width: 26px;
			margin-right: 10px;
			margin-top: 5px;
		}
	}
}
