@use './variables/colors';

.wmde-banner {
	* {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 16px;
	}

	&-text-animated-highlight,
	&-slider-text-animated-highlight {
		padding: 0 5px;
		/* stylelint-disable */
		background: linear-gradient(
			270deg,
			colors.$transparent-color 0%,
			colors.$transparent-color 50%,
			colors.$text-highlight-color 50%,
			colors.$text-highlight-color 100%
		);
		background-size: 201% 100%;
		background-position: 100% 0;
		/* stylelint-enable */
		transition: background-position 2s;
	}

	&-slide--current .wmde-banner-slider-text-animated-highlight,
	&--animate-highlight .wmde-banner-text-animated-highlight {
		background-position: 0 0;
	}
}
