@use 'src/components/ProgressBar/DoubleProgressBar';
@use '../variables/globals';
@use 'transitionsDouble';

.wmde-banner {
	@include DoubleProgressBar.layout;

	.wmde-banner {
		&-double-progress {
			margin: 0;
			font-weight: bold;
			font-size: 12px;
			color: var( --color-white );

			&-amount,
			&-time {
				height: 24px;
				line-height: 24px;
				padding-right: 10px;
				border-radius: 12px;

				&-fill,
				&-difference {
					height: 100%;
					padding: 0 10px;
				}

				&-fill {
					display: flex;
					justify-content: space-between;
				}
			}

			&-amount {
				margin-bottom: 5px;
				background: var( --color-primary-light );

				&-fill,
				&-difference {
					border-radius: 12px;
				}

				&-fill {
					background: var( --color-primary );
					z-index: 2;
				}

				&-difference {
					color: var( --color-white );
					background: var( --color-primary-bright );
					z-index: 1;
					text-align: right;
				}
			}

			&-time {
				background: var( --color-secondary-lighter );

				&-fill {
					border-radius: 12px;
					background: var( --color-secondary );
				}
			}
		}
	}
}
