@use 'src/themes/Treedip/variables/globals';
@use 'src/themes/Treedip/variables/fonts';
@use 'src/themes/Treedip/variables/colors';

@keyframes show-full {
	0% {
		transform: translateY( -100% );
	}
	100% {
		transform: translateY( 0 );
	}
}

.wmde-banner {
	&-wrapper {
		font-size: 14px;
		font-family: fonts.$ui;
		box-shadow: 0 3px 0.6em rgba( 60 60 60 / 40% );
		background-color: colors.$white;
		position: relative;
	}

	&-main {
		position: relative;
		z-index: 2;
		background: var( --color-white );
		transform: translateY( -100% );
		animation: show-full 1000ms globals.$banner-easing;
		animation-delay: var( --wmde-full-banner-delay );
		animation-fill-mode: forwards;
	}

	&--pending {
		.wmde-banner-wrapper {
			box-shadow: none;
		}
	}

	&--closed {
		.wmde-banner-wrapper {
			display: none;
		}
	}
}
