// This is the file where we import the theme-specific component styles

@use 'Treeedip-greenColors' as colorsGreen;
@use 'src/components/BannerConductor/banner-transition';
@use 'Banner';
@use 'MainBanner' with (
	$banner-height: 357px,
	$form-width: 300px
);
@use 'src/themes/UseOfFunds/UseOfFunds';
@use 'src/themes/Treedip/defaults';
@use 'src/themes/Treedip/ButtonClose/ButtonClose';
@use 'src/themes/Treedip/ProgressBar/ProgressBar' with (
	$progress-bar-margin: 0 15px
);
@use 'src/themes/Treedip/DonationForm/DonationForm' with (
	$background-color: colorsGreen.$secondary,
);
@use 'src/themes/Treedip/DonationForm/MultiStepDonation';
@use 'src/themes/Treedip/DonationForm/SubComponents/SelectGroup';
@use 'src/themes/Treedip/DonationForm/SubComponents/SelectGroupRadios';
@use 'src/themes/Treedip/DonationForm/SubComponents/SelectCustomAmountRadio';
@use 'src/themes/Treedip/DonationForm/SubComponents/SmsBox';
@use 'src/themes/Treedip/DonationForm/Forms/MainDonationForm';
@use 'src/themes/Treedip/DonationForm/Forms/UpgradeToYearlyForm';
@use 'src/themes/Treedip/DonationForm/Forms/CustomAmountForm';
@use 'src/themes/Treedip/Footer/FooterAlreadyDonated' with (
	$right-column-width: 300px
);
@use 'src/themes/Treedip/Footer/SelectionInput';
@use 'src/themes/Treedip/Message/Message';
@use 'src/themes/Treedip/Slider/KeenSlider';
@use 'src/themes/Treedip/SoftClose/SoftClose';
@use 'src/themes/Treedip/AlreadyDonatedModal/AlreadyDonatedModal';
@use 'FallbackBanner';
@use 'src/themes/Treedip/FallbackBanner/FallbackButton';
@use 'src/themes/Treedip/FallbackBanner/LargeFooter';
@use 'src/themes/Treedip/FallbackBanner/SmallFooter';
@use 'Treedip-greenOverrides';
