@use 'src/themes/Treedip/variables/fonts';

.wmde-banner {
	&-wrapper {
		font-size: 14px;
		font-family: fonts.$ui;
		box-shadow: var( --main-box-shadow );
		background-color: var( --main-background );
		color: var( --main-color );
	}

	&--closed {
		.wmde-banner-wrapper {
			display: none;
		}
	}
}
