// This is the file where we import the theme-specific component styles
@use 'src/themes/Treedip/swatches/skin_vector-2022' with (
	$slider: true,
	$select-group-bubble: true,
	$select-group-image-label: true,
	$upgrade-to-yearly: true,
	$fallback-banner: true,
	$progress-bar: true,
	$soft-close: false,
);
@use 'src/themes/Treedip/variables/breakpoints';
@use 'src/components/BannerConductor/banner-transition';
@use 'Banner';
@use 'MainBanner' with (
	$banner-height: 355px,
	$form-width: 300px
);
@use '../../../../src/components/UseOfFunds/styles/swatches/skin_vector-2022' as uof-default;
@use '../../../../src/components/UseOfFunds/styles/styles';
@use 'src/themes/Treedip/defaults';
@use 'src/themes/Treedip/ButtonClose/ButtonClose' with (
	$padding: 4px,
	$top: 12px,
	$right: 8px,
	$margin: -4.5px
);
@use 'src/themes/Treedip/ProgressBar/ProgressBar' with (
	$progress-bar-margin: 15px
);
@use 'src/themes/Treedip/DonationForm/DonationForm';
@use 'src/themes/Treedip/DonationForm/MultiStepDonation';
@use 'src/themes/Treedip/DonationForm/BubbleForm/SelectGroupBubble';
@use 'src/themes/Treedip/DonationForm/BubbleForm/SelectGroupRadioBubbles' with (
	$height: 34px,
	$font-size: 14px
);
@use 'src/themes/Treedip/DonationForm/BubbleForm/SelectCustomAmountRadioBubble' with (
	$height: 34px,
	$font-size: 14px
);
@use 'src/themes/Treedip/DonationForm/BubbleForm/SelectGroupBubbleImageLabel';
@use 'src/themes/Treedip/DonationForm/Forms/MainDonationForm' with (
	$padding: 14px 0 0
);
@use 'src/themes/Treedip/DonationForm/Forms/UpgradeToYearlyButtonForm' with (
	$font-size: 14px
);
@use 'src/themes/Treedip/Footer/FooterAlreadyDonated' with (
	$right-column-width: 300px
);
@use 'src/themes/Treedip/Footer/SelectionInput';
@use 'src/themes/Treedip/Message/Message' with (
	$font-sizes: ( 1400px: 15px, 1600px: 16px, 1800px: 18px )
);
@use 'src/themes/Treedip/Slider/KeenSlider';
@use 'src/components/FallbackBanner/styles/swatches/skin_vector-2022' as fbb-default;
@use 'src/components/FallbackBanner/styles/styles' as fbb-styles;
