@mixin layout() {
	&-large-footer {
		flex: 0 0 auto;
		width: 100%;
		display: flex;

		&-left {
			flex: 1 1 auto;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			>* {
				width: 50%;
			}
		}

		&-right {
			flex: 0 0 auto;
			display: flex;
			align-items: center;
		}
	}
}
