@use 'color_light';

$minimised-banner: false !default;
$address-type-button-form: false !default;
$upgrade-to-yearly-button-form: false !default;
$select-group-image-label: false !default;
$progress-bar: false !default;
$double-progress-bar: false !default;
$soft-close: false !default;
$subscription-form: false !default;
$thank-you-box: false !default;

.wmde-banner {
	@include color_light.swatch(
		$minimised-banner,
		$address-type-button-form,
		$upgrade-to-yearly-button-form,
		$select-group-image-label,
		$progress-bar,
		$double-progress-bar,
		$soft-close,
		$subscription-form,
		$thank-you-box
	);
}
