.use-of-funds .company-budgets {
	list-style-type: none;
	padding: 0;
	margin: 0;

	&-row {
		display: flex;
	}

	&-col {
		&-company {
			flex: 0 0 75px;
		}
		&-graph {
			flex: 1 0 auto;
			display: flex;
			padding: 5px 0;
			align-items: center;
		}
		&-number {
			flex: 0 0 85px;
			text-align: right;
			white-space: nowrap;
		}
		&-citation {
			flex: 0 0 50px;
			font-size: 14px;
			text-align: right;
		}
	}

	&-budget-line {
		background: #cecece;
		min-width: 3px;
		height: 10px;
	}

	&-row-wikipedia {
		.company-budgets-budget-line {
			background: #4a90e2;
		}
	}
}
