.funds-distribution-accordion {
	border-bottom: 1px solid var( --accordion-item-border );
	margin-bottom: 16px;

	&-item {
		&-title {
			display: block;
			background: none;
			border: 0;
			margin: 0;
			padding: 0;
			width: 100%;
			text-align: left;
			font-size: 16px;
			font-weight: bold;
			line-height: 36px;
			cursor: pointer;
			border-top: 1px solid var( --accordion-item-border );
		}

		&-chevron {
			width: 18px;
			float: right;
			margin-top: 14px;
			opacity: 0.5;

			path {
				fill: var( --accordion-item-border ) !important; // stylelint-disable-line
			}
		}

		&-text {
			overflow: hidden;
			height: 0;
		}

		&.active {
			.funds-distribution-accordion-item-text {
				height: auto;
				padding-bottom: 8px;
			}

			.funds-distribution-accordion-item-chevron {
				transform: rotate( 180deg );
			}
		}
	}
}
