@use 'variables/breakpoints';

.funds-distribution-info {
	&-graph {
		display: flex;
	}

	&-text {
		display: none;
		font-size: 16px;
		margin-bottom: 14px;
		max-width: 635px;

		/* TODO only needed for responsiveness on desktop */
		min-height: 130px;
	}

	/* 1st child is the graph */
	&-text:nth-child( 2 ) {
		margin: 0 auto 14px 0;
	}
	&-text:nth-child( 3 ) {
		margin: 0 auto 14px 60px;
	}
	&-text:nth-child( 4 ) {
		margin: 0 auto 14px;
	}
	&-text:nth-child( 5 ) {
		margin: 0 60px 14px auto;
	}
	&-text:nth-child( 6 ) {
		margin: 0 0 14px auto;
	}
	&-text.active {
		display: block;
	}
}

.funds-distribution-info-item {
	&-title {
		font-weight: bold;
		margin-bottom: 2px;
		white-space: nowrap;
		font-size: 100%;

		@include breakpoints.large-up {
			font-size: max( 1.15vw, 9px );
		}
	}
	&-box {
		position: relative;
		line-height: 50px;
		box-sizing: border-box;
		padding-left: 16px;
		color: #ffffff;
		margin-bottom: 24px;
	}

	/* diamond indicator on the bottom */
	&.active .funds-distribution-info-item-box::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-bottom: 0;
		margin-left: -20px;
		margin-bottom: -18px;
	}

	&-software {
		.funds-distribution-info-item-title {
			color: #808080;
		}
		.funds-distribution-info-item-box {
			background-color: #808080;
		}
		&.active .funds-distribution-info-item-box::after {
			border-top-color: #808080;
		}
	}
	&-international {
		.funds-distribution-info-item-title {
			color: #0ea789;
		}
		.funds-distribution-info-item-box {
			background-color: #0ea789;
		}
		&.active .funds-distribution-info-item-box::after {
			border-top-color: #0ea789;
		}
	}
	&-communities {
		.funds-distribution-info-item-title {
			color: #f24825;
		}
		.funds-distribution-info-item-box {
			background-color: #f24825;
		}
		&.active .funds-distribution-info-item-box::after {
			border-top-color: #f24825;
		}
	}
	&-society {
		.funds-distribution-info-item-title {
			color: #9410ac;
		}
		.funds-distribution-info-item-box {
			background-color: #9410ac;
		}
		&.active .funds-distribution-info-item-box::after {
			border-top-color: #9410ac;
		}
	}
	&-operative {
		.funds-distribution-info-item-title {
			color: #8ed14f;
		}
		.funds-distribution-info-item-box {
			background-color: #8ed14f;
		}
		&.active .funds-distribution-info-item-box::after {
			border-top-color: #8ed14f;
		}
	}
}
