// This is the file where we import the theme-specific component styles
@use 'src/themes/Treedip/variables/breakpoints';
@use 'src/components/BannerConductor/banner-transition';
@use 'Banner';
@use 'MainBanner' with (
	$banner-height: 355px,
	$form-width: 300px
);
@use 'src/themes/UseOfFunds/UseOfFunds';
@use 'src/themes/Treedip/defaults';
@use 'src/themes/Treedip/ButtonClose/ButtonClose' with (
	$padding: 4px,
	$top: 12px,
	$right: 8px,
	$margin: -4.5px
);
@use 'src/themes/Treedip/ProgressBar/ProgressBar' with (
	$progress-bar-margin: 0 15px
);
@use 'src/themes/Treedip/DonationForm/DonationForm';
@use 'src/themes/Treedip/DonationForm/MultiStepDonation';
@use 'src/themes/Treedip/DonationForm/BubbleForm/SelectGroupBubble';
@use 'src/themes/Treedip/DonationForm/BubbleForm/SelectGroupRadioBubbles' with (
	$height: 34px
);
@use 'src/themes/Treedip/DonationForm/BubbleForm/SelectCustomAmountRadioBubble' with (
	$height: 34px
);
@use 'src/themes/Treedip/DonationForm/BubbleForm/SelectGroupBubbleImageLabel';
@use 'src/themes/Treedip/DonationForm/SubComponents/SmsBox';
@use 'src/themes/Treedip/DonationForm/Forms/MainDonationForm' with (
	$padding: 14px 0 0
);
@use 'src/themes/Treedip/DonationForm/BubbleForm/UpgradeToYearlyFormBubble';
@use 'src/themes/Treedip/DonationForm/Forms/CustomAmountForm';
@use 'src/themes/Treedip/Footer/BannerFooter' with (
	$right-column-width: 300px
);
@use 'src/themes/Treedip/Footer/SelectionInput';
@use 'src/themes/Treedip/Message/Message' with (
	$font-sizes: ( 1400px: 15px, 1600px: 16px, 1800px: 18px )
);
@use 'src/themes/Treedip/Slider/KeenSlider';
@use 'src/themes/Treedip/SoftClose/SoftClose';
@use 'src/themes/Treedip/AlreadyDonatedModal/AlreadyDonatedModal';
@use 'FallbackBanner';
@use 'src/themes/Treedip/FallbackBanner/FallbackButton';
@use 'src/themes/Treedip/FallbackBanner/LargeFooter';
@use 'src/themes/Treedip/FallbackBanner/SmallFooter';
