@use '../../variables/fonts';
@use '../../variables/colors';
@use 'src/components/DonationForm/Forms/AddressTypeForm';

.wmde-banner {
	@include AddressTypeForm.layout;

	&-form-address-type {
		.wmde-banner-form-field-group {
			padding: 0 0 10px;

			&-legend {
				display: none;
				visibility: hidden;
				font-family: fonts.$ui;
				font-size: 12px;
				line-height: 13px;
				color: colors.$black-light;
			}
		}

		&-back {
			display: block;
			height: 16px;
			width: 50px;
			margin-bottom: 10px;
		}

		&-title {
			font-weight: bold;
			font-size: 12px;
		}

		&-notice {
			font-weight: bold;
			font-size: 12px;
			margin-bottom: auto;

			/* min-height is to reserve space and prevent 1st page from "jumping",
				because the last page has the largest height
			 */
			min-height: 28px;
		}

		.wmde-banner-select-group-notice {
			font-weight: normal;
			font-size: 12px;
			line-height: 1.5;
			padding-left: 25px;
		}
	}
}
