@use '../../variables/fonts';
@use 'src/components/DonationForm/Forms/AddressTypeForm';

.wmde-banner {
	@include AddressTypeForm.layout;

	// This form is long and causes issues with the banner height
	// So make it short until the banner becomes visible
	&--initial {
		.wmde-banner-form-address-type {
			height: 100px;
		}
	}

	&-form-address-type {

		.wmde-banner-form-field-group {
			padding: 0 0 8px;

			&-legend {
				display: none;
				visibility: hidden;
				font-family: fonts.$ui;
				font-size: 12px;
				line-height: 13px;
				color: colors.$black-light;
			}
		}

		&-back {
			display: block;
			height: 16px;
			width: 50px;
			margin-bottom: 7px;
		}

		&-title {
			font-weight: bold;
			font-size: 12px;
		}

		&-notice {
			font-size: 12px;
			margin-bottom: auto;
			margin-top: -10px;
			padding-left: 26px;
		}

		&-error {
			line-height: 16px;
			color: var( --color-error );
			font-weight: bold;
			text-align: center;
			margin-bottom: 0.2em;
			font-size: 0.8em;
		}

		.address-type-none.wmde-banner-disabled .wmde-banner-select-group-notice {
			display: none;
		}

		.wmde-banner-select-group-notice {
			font-weight: normal;
			font-size: 12px;
			line-height: 1.5;
			padding-left: 25px;
		}

		.wmde-banner-select-group-error-message {
			height: auto;
		}
	}
}
