@use '../../variables/globals';
@use '../../variables/fonts';
@use 'src/components/DonationForm/Forms/MainDonationForm';

$padding: 0 !default;

.wmde-banner {
	@include MainDonationForm.layout;

	&-sub-form-donation {
		padding: $padding;

		.wmde-banner-form-field-group {
			padding: 0 0 10px;

			&-legend {
				display: none;
				visibility: hidden;
				font-family: fonts.$ui;
				font-size: 12px;
				line-height: 13px;
				color: var( --main-color );
			}
		}
	}

	&-form-amounts {
		position: relative;
	}

	&-preferred-sticky {
		position: absolute;
		top: -27px;
		left: 55%;
		transform: translateX( -2% );
		z-index: 30;
		display: inline-block;
		min-width: 120px;
		padding: 1px 7px 0;
		height: 20px;
		line-height: 16px;
		text-align: center;
		white-space: nowrap;
		background: var( --sticky-color );
		color: black;
		border-radius: 1px;
		font-family: fonts.$ui;
		font-size: 12px;
		font-weight: 600;

		&::after {
			content: '';
			position: absolute;
			bottom: -6px;
			left: calc( 82% );
			transform: translateX( -200% );
			border-style: solid;
			border-width: 7px 7px 0;
			border-color: var( --sticky-color ) transparent transparent transparent;
			pointer-events: none;
		}
	}
}
