@use '../../variables/globals';
@use '../../variables/fonts';
@use 'src/components/DonationForm/Forms/MainDonationForm';

$padding: 0 !default;

.wmde-banner {
	@include MainDonationForm.layout;

	&-sub-form-donation {
		padding: $padding;

		.wmde-banner-form-field-group {
			padding: 0 0 10px;

			&-legend {
				display: none;
				visibility: hidden;
				font-family: fonts.$ui;
				font-size: 12px;
				line-height: 13px;
				color: var( --main-color );
			}
		}

		&:has( input[ value='5' ]:checked, input[ value='10' ]:checked, input[ value='20' ]:checked, input[ value='25' ]:checked ) {
			.wmde-banner-cheering-top {
				opacity: 1;
				visibility: visible;
				height: 24px;
			}
		}

		&:has( input[ value='50' ]:checked, input[ value='100' ]:checked, .wmde-banner-select-custom-amount-radio:checked ) {
			.wmde-banner-cheering-bottom {
				opacity: 1;
				visibility: visible;
				height: 24px;
			}
		}
	}

	&-cheering {
		background: var( --cheering-background );
		color: var( --cheering-color );
		padding: 3px 0;
		white-space: nowrap;
		border-radius: 2px;
		font-style: italic;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		height: 0;

		&::after {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: calc( 100% - 1px );
			left: calc( 50% - 3px );
			border-style: solid;
			border-width: 7px 6px 0;
			border-color: var( --cheering-background ) transparent transparent transparent;
			transition: opacity 150ms ease-out;
		}
	}

	&-cheering-500::after,
	&-cheering-5000::after {
		left: 3px;
	}

	&-cheering-1000::after,
	&-cheering-10000::after {
		left: 25%;
	}

	&-cheering-2000::after {
		left: calc( 50% - 3px );
	}

	&-cheering-2500::after {
		left: calc( 75% - 8px );
	}

	&-cheering-top,
	&-cheering-bottom {
		position: relative;
		transition: opacity 150ms ease-out, height 150ms ease-out;
	}

	&-cheering-top {
		margin-bottom: 2px;
	}

	&-cheering-bottom {
		margin-top: 5px;
	}

	&-cheering-bottom::after {
		top: -6px;
		border-width: 0 6px 7px;
		border-color: transparent transparent var( --cheering-background ) transparent;
	}
}
