@use '../../variables/globals';
@use '../../variables/fonts';
@use 'src/components/DonationForm/Forms/MainDonationForm';

$padding: 0 !default;

.wmde-banner {
	@include MainDonationForm.layout;

	&-sub-form-donation {
		padding: $padding;

		.wmde-banner-form-field-group {
			padding: 0 0 10px;

			&-legend {
				display: none;
				visibility: hidden;
				font-family: fonts.$ui;
				font-size: 12px;
				line-height: 13px;
				color: var( --main-color );
			}
		}

		&:has( input[ value='5' ]:checked, input[ value='10' ]:checked, input[ value='20' ]:checked, input[ value='25' ]:checked ) {
			.wmde-banner-cheering-top {
				opacity: 1;
				visibility: visible;
				height: 24px;
				transform: translateY( 0 );
			}
		}

		&:has( input[ value='50' ]:checked, input[ value='100' ]:checked, .wmde-banner-select-custom-amount-radio:checked ) {
			.wmde-banner-cheering-bottom {
				opacity: 1;
				visibility: visible;
				height: 24px;
				transform: translateY( 0 );
			}
		}
	}

	&-cheering {
		position: relative;
		display: flex;
		font-style: italic;
		visibility: hidden;
		opacity: 0;
		height: 0;
		transition: justify-content 500ms ease-in-out;

		> span {
			border-radius: 2px;
			height: 24px;
			width: 100%;
			padding: 3px 0;
			display: block;
			text-align: center;
			background: var( --cheering-background );
			color: var( --cheering-color );
		}

		&::after {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: calc( 100% - 1px );
			left: calc( 83.3333% - 6px );
			border-style: solid;
			border-width: 7px 6px 0;
			border-color: var( --cheering-background ) transparent transparent transparent;
		}
	}

	$bounce: linear( 0, 0.036 2%, 0.154 4.4%, 0.753 12.4%, 0.975 16%, 1.114 19.4%, 1.185 23%, 1.182 28.2%, 1.014 40.4%, 0.965 47.8%, 1.006 72.2%, 1 );

	&-cheering-top,
	&-cheering-bottom {
		transition: opacity 300ms ease-in-out, height 1s $bounce, transform 750ms $bounce;
	}

	&-cheering-top {
		margin-bottom: 8px;
		align-items: flex-end;
		transform: translateY( -30px );
	}

	&-cheering-bottom {
		margin-top: 8px;
		transform: translateY( 30px );

		&::after {
			top: -6px;
			border-width: 0 6px 7px;
			border-color: transparent transparent var( --cheering-background ) transparent;
		}
	}

	&-cheering-500::after,
	&-cheering-5000::after {
		left: 3px;
	}

	&-cheering-1000::after,
	&-cheering-10000::after {
		left: 25%;
	}

	&-cheering-2000::after {
		left: calc( 50% - 3px );
	}

	&-cheering-2500::after {
		left: calc( 75% - 8px );
	}
}
