@use '../../variables/globals';
@use '../../variables/fonts';
@use '../../../../components/DonationForm/Forms/MainDonationFormDonationReceipt';

$padding: 0 !default;

.wmde-banner {
	@include MainDonationFormDonationReceipt.layout;

	&-sub-form-donation {
		padding: $padding;

		.wmde-banner-form-field-group {
			padding: 0 0 10px;

			&-legend {
				display: none;
				visibility: hidden;
				font-family: fonts.$ui;
				font-size: 12px;
				line-height: 13px;
				color: var( --main-color );
			}
		}
	}

	&-form-donation-receipt-checkbox {
		input[ type='checkbox' ] {
			cursor: pointer;
			appearance: none;
			background: var( --input-checkbox-background );
			border: 1px solid var( --input-checkbox-border );
			border-radius: 2px;
			transition: background 0.15s ease-out;

			&:checked {
				background: var( --input-checkbox-background-checked ) url( "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.04.627.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z' style='fill:%23fff'/%3E%3C/svg%3E" ) no-repeat 50%;
				border-color: var( --input-checkbox-border-checked );
			}
		}

		label {
			cursor: pointer;
		}
	}
}
