@use '../../variables/colors';
@use 'src/components/DonationForm/Forms/UpgradeToYearlyForm';

$custom-link-padding: 0 0 0 25px !default;
$custom-link-text-align: left !default;

.wmde-banner {
	@include UpgradeToYearlyForm.layout;

	&-form-upgrade {
		.wmde-banner-select-group-container {
			justify-content: center;
		}
		.wmde-banner-select-group-label {
			white-space: normal;

			&::before {
				top: 8px;
			}
		}

		.wmde-banner-select-group-error-message {
			display: block;
		}

		.wmde-banner-select-group {
			line-height: 1.5;
		}

		.wmde-banner-select-group-option {
			margin-bottom: 8px;
			label {
				height: auto;
			}
		}

		&-back {
			display: block;
			height: 16px;
			width: 50px;
			margin-bottom: 7px;
		}

		&-notice {
			font-size: 12px;
			margin-bottom: auto;
			text-align: justify;
			hyphens: auto;
		}

		&-options {
			flex-grow: 0;
		}

		&-custom,
		&-custom:link,
		&-custom:visited {
			color: colors.$secondary;
			font-size: 12px;
			text-align: $custom-link-text-align;
			margin-bottom: 8px;
			font-weight: bold;
			padding: $custom-link-padding;
		}

		&-custom:visited {
			color: colors.$secondary;
		}

		&-button {
			margin-top: auto;
		}
	}
}
