@use 'src/themes/Treedip/variables/colors';

$banner-height: 357px !default;
$form-width: 300px !default;

.wmde-banner {
	&-main {
		min-height: $banner-height;
		display: flex;
		flex-direction: column;
		padding: 12px 24px 0;
	}

	&-content {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}

	&-message {
		padding: 0 15px;
	}

	&-column-left {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 1 auto;
		margin-bottom: 0;
		overflow-y: hidden;
		margin-right: 30px;
		padding: 0 0 10px;
		border: 5px solid colors.$primary;
		border-radius: 9px;
	}

	&-column-right {
		order: 2;
		flex: 0 0 $form-width;
		display: flex;
		flex-direction: column;
		width: $form-width;
		padding: 10px 0;
	}
}
