@use 'variables/fonts';
@use 'variables/breakpoints';

$font: fonts.$content !default;
$font-size: 1.3em !default;
$line-height: 1.5 !default;
$slider-padding: 0 !default;

.wmde-banner {
	.wmde-fbb {
		.wmde-banner-slider-navigation-previous,
		.wmde-banner-slider-navigation-next {
			width: 38px;
		}

		.wmde-banner-slider-navigation-previous {
			padding: 0 8px 0 16px;
		}

		.wmde-banner-slider-navigation-next {
			padding: 0 16px 0 8px;
		}
	}
}

.wmde-fbb {
	.wmde-banner-slider-container {
		border: 0;
		font-family: $font;
		font-size: 14px;
		padding: $slider-padding;
		line-height: 1.2;
		background-color: var( --fallback-slider-container-background );
		color: var( --fallback-slider-container-color );
	}

	.wmde-banner-slide {
		cursor: grab;

		&--current {
			.wmde-banner-slider-text-animated-highlight {
				background-position: 0 0;
			}
		}

		&-content {
			text-align: center;
			padding: 0 30px;

			p {
				margin: 0 0 1em;
			}

			p:last-child {
				margin: 0;
			}
		}
	}

	.wmde-banner-slider-pagination {
		&-dot {
			background: var( --fallback-slider-pagination-background );
			width: 15px;
			height: 15px;
			margin: 0 4px;
			border-radius: 50%;
			cursor: pointer;
			border: 3px solid var( --fallback-slider-pagination-border );

			&:focus {
				outline: 0;
			}
		}

		.is-active {
			background: var( --fallback-slider-pagination-isactive-background );
			border: 3px solid var( --fallback-slider-pagination-isactive-border );
		}
	}

	.headline {
		font-weight: bold;
	}
}
