@use './variables/fonts';
@use 'src/components/BannerConductor/banner-transition';
@use 'Bank';
@use 'CloseButton';
@use 'FallbackButton';
@use 'KeenSlider';
@use 'LargeFooter';
@use 'SmallFooter';
@use 'ProgressBar/ProgressBar';

$breakpoint: 800px;

.is-sr-only {
	border: none !important;
	clip-path: inset( 50% ) !important;
	height: 0.01em !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 0.01em !important;
}

.wmde-fbb {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	background: var( --fallback-background );
	color: var( --fallback-color );
	box-shadow: var( --fallback-box-shadow );

	@media ( min-width: $breakpoint ) {
		height: auto;
		min-height: 250px;
		padding: 4px;
	}

	&,
	* {
		box-sizing: border-box;
	}

	&-small,
	&-large {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	&-small {
		align-items: center;
		border: 4px solid var( --fallback-border );
		border-radius: 4px;

		.wmde-banner-selection-input-text,
		.wmde-banner-selection-input-input {
			font-family: fonts.$content;
			font-size: 14px;
			font-weight: normal;
		}
	}

	&-large {
		align-items: stretch;
	}

	&-usage-link {
		all: unset;
		color: var( --fallback-uof-link-color );
		cursor: pointer;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: var( --fallback-uof-link-color-hover );
		}
	}

	&-message {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		padding: 8px 8px 0;
		margin: 0;
		color: var( --fallback-message-color );
		background-color: var( --fallback-message-background );
		border: 4px solid var( --fallback-message-border );
		border-radius: 4px;
		font-family: fonts.$content;

		p {
			margin-bottom: 0;
		}

		&-content {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&-bank-item {
		display: block;

		&-label {
			font-weight: bold;
		}
	}

	.wmde-fbb-close {
		height: 16px;
		width: 16px;
		top: 8px;
		right: 8px;

		@media ( min-width: $breakpoint ) {
			height: 30px;
			width: 30px;
			top: 12px;
			right: 12px;
		}
	}

	.wmde-fbb-slider-container {
		padding: 0 0 8px;
		margin: 0;
	}

	.wmde-fbb-slide-content {
		font-size: 14px;
		p {
			margin-bottom: 8px;
		}
	}

	.wmde-fbb-slider-navigation-previous,
	.wmde-fbb-slider-navigation-next {
		align-items: end;
	}

	.wmde-fbb-slider-pagination-dot {
		cursor: default;
	}

	&--pending {
		.wmde-fbb-fallback {
			box-shadow: none;
		}
	}
}
