.wmde-b-lined-heading {
	font-weight: bold;
	font-size: var( --type-step-1 );
	overflow: hidden;
	margin-inline: var( --space-xs );
	padding-block: var( --space-s );
	text-align: center;
}

.wmde-b-lined-heading::before,
.wmde-b-lined-heading::after {
	background-color: var( --headline-line-color );
	content: '';
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.wmde-b-lined-heading::before {
	right: 0.5em;
	margin-left: -50%;
}

.wmde-b-lined-heading::after {
	left: 0.5em;
	margin-right: -50%;
}
