.wmde-b-text-radio {
	--radio-size: var( --space-s );
	position: relative;
	padding-inline-start: 1.2rem;
}

.wmde-b-text-radio__radio {
	position: absolute;
	top: 50%;
	transform: translateY( calc( var( --space-s ) / 2 * -1 ) );
	left: 0;
	margin: 0;
	width: var( --radio-size );
	height: var( --radio-size );
	border: 2px solid var( --form-field-border-color, var( --color-form-border ) );
	background: var( --color-form-bg );
	border-radius: 50%;
}

.wmde-b-text-radio__radio:before {
	content: '';
	position: absolute;
	background: var( --color-form-bg );
	height: 60%;
	width: 60%;
	top: 20%;
	left: 20%;
	border-radius: 50%;
}

.wmde-b-text-radio__radio--checked {
	--form-field-border-color: var( --color-radio-checked );
}

.wmde-b-text-radio__radio--checked .wmde-b-text-radio__radio:before {
	background: var( --color-radio-checked );
}