$primary: #990a00;
$primary-light: #dbb0ad;
$primary-light-low-opacity: rgba( 219, 176, 173, 0.3 );
$primary-lighter: #f8f9fa; /* offwhite */
$primary-darker: #6c0000;

$secondary: #6e9e00;
$secondary-light: #d9d9d9;
$secondary-dark: #7d8389;

$error: #990000;

$white: #ffffff;
$black: #000000;
$black-light: #222222;
$gray: #808080;
$gray-medium: #7d8389;
$gray-medium-bright: #e0e5e9;
