@use 'src/themes/Yperala/variables/globals';
@use 'src/themes/Yperala/variables/colors';
@use 'src/themes/Yperala/variables/breakpoints';

$height-small: 328px !default;
$height-large: 288px !default;

.wmde-banner {
	&-mini {
		padding: 5px 0;
		min-height: $height-small;
		display: flex;

		@include breakpoints.phone-m-up {
			min-height: $height-large;
		}

		&-content {
			position: relative;
			cursor: pointer;
			text-align: center;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			padding-bottom: 10px;
			background: colors.$primary-lighter;
			border: 8px solid colors.$primary;
			box-shadow: 0 7px 22px 0 rgba( 0, 0, 0, 0.35 );
			border-radius: 15px;
			width: 98%;
		}

		&-close {
			position: absolute;
			top: 0;
			right: -2px;
			z-index: 2;
			height: 30px;
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				height: 20px;
				width: 20px;
			}
		}

		.wmde-banner-progress-bar-text {
			visibility: hidden;
		}

		&-banner-slideshow {
			width: 100%;
			flex: 1 0 auto;
		}
	}

	&-mini-button {
		height: 40px;
		width: 160px;
		line-height: 40px;
		border-radius: globals.$form-element-border-radius;
		font-weight: bold;
		color: colors.$white;
		background-color: colors.$secondary;
		text-align: center;
		padding: 0 30px;
		margin-bottom: 5px;
	}
}
