@use '../variables/colors';
@use 'src/components/ButtonClose/ButtonClose';

$top: 5px !default;
$right: 5px !default;

.wmde-banner {
	@include ButtonClose.layout( $top, $right );

	&-close {
		width: 32px;
		height: 32px;
		line-height: 32px;
		opacity: 0.8;

		&-link {
			color: colors.$gray;
			text-decoration: none;
			cursor: pointer;
			display: block;
			&:hover {
				color: colors.$gray-medium;
			}
		}
	}
}
