$extra-small: 600px !default;
$small: 1024px !default;
$medium: 1090px !default;
$bigger-medium: 1150px !default;
$large: 1300px !default;
$extra-large: 1580px !default;

/*
MIXIN USAGE:

.my-selector {
	@include breakpoints.small-up {
		// Stuff that happens when bigger than $small
	}
}

*/

@mixin extra-small-up {
	@media ( min-width: $extra-small ) {
		@content;
	}
}

@mixin small-up {
	@media ( min-width: $small ) {
		@content;
	}
}

@mixin medium-up {
	@media ( min-width: $medium ) {
		@content;
	}
}

@mixin bigger-medium-up {
	@media ( min-width: $bigger-medium ) {
		@content;
	}
}

@mixin large-up {
	@media ( min-width: $large ) {
		@content;
	}
}

@mixin extra-large-up {
	@media ( min-width: $extra-large ) {
		@content;
	}
}
