.wmde-b-checkbox-toggle {
	--background-color: var(--color-blue-100);
	--input-background: var(--color-grey-200);
	--input-toggle-background: var(--color-white);
	--input-toggle-shadow:  0 3px 5px rgba(0 0 0 / 40%);

	background: var(--background-color);
	border-radius: 6px;
	padding-block: var(--space-2xs);
	padding-inline: var(--space-xs);
}

.wmde-b-checkbox-toggle input {
	--toggle-size: var(--space-m);

	appearance: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: var(--toggle-size);
	width: calc(var(--toggle-size) * 1.8);
	margin-block: 0;
	margin-inline: 0;
	background-color: var(--input-background);
	border: 2px solid var(--input-background);
	border-radius: calc(var(--toggle-size) / 2);
	transition: background-color 200ms var(--easing);
}

.wmde-b-checkbox-toggle input::before {
	all: unset;
	content: '';
	box-sizing: border-box;
	width: calc(var(--toggle-size) - 4px);
	height: calc(var(--toggle-size) - 4px);
	background-color: var(--input-toggle-background);
	border-radius: 50%;
	box-shadow: 0 3px 5px rgba(0 0 0 / 40%);
}

.wmde-b-checkbox-toggle:has(input:checked) {
	--input-background: var(--color-blue-600);
}

.wmde-b-checkbox-toggle input:checked {
	justify-content: flex-end;
}

.wmde-b-checkbox-toggle input:focus-visible {
	border-color: var(--color-white);
	box-shadow: 0 0 0 2px var(--color-blue-600);
	outline: 0;
}
