.wmde-b-header {
	--background: var( --color-red-100 );
	--icon-fill: var( --color-black );
	--flow-space: var( --space-3xs );

	background: var( --background );
	padding-block: var( --space-xs );
	padding-inline: var( --space-l );
	text-align: center;
}

.skin-theme-clientpref-night .wmde-b-header {
	--background: var( --color-grey-800 );
	--icon-fill: var( --color-white );
}

@media ( prefers-color-scheme: dark ) {
	.skin-theme-clientpref-os .wmde-b-header {
		--background: var( --color-grey-800 );
		--icon-fill: var( --color-white );
	}
}
