@use '../../../../components/DonationForm/SubComponents/SelectCustomAmount';

$height: 23px !default;

.wmde-banner {
	@include SelectCustomAmount.layout;

	/*
	The layout settings of this element should be similar to wmde-banner-select-group-option
	because the custom amount is presented as an "option" inside the amount select group
	In the future, we might use tools of the CSS framework (e.g. SCSS mixins)
	to keep the styles in sync
	 */
	&-select-custom-amount {
		width: 50%;
		padding: 0 4px;
		cursor: pointer;

		&-radio {
			/* Unclear if we need this or what it does. Probably browser fixes for text in focused elements? */
			&:checked + .wmde-banner-select-custom-amount-input-container {
				border: 0 none;
				outline: 0 none;
			}

			/* This style must be in sync with the "radio button shape" style of SelectGroup */
			&:checked + .wmde-banner-select-custom-amount-input-container::before {
				border: 1px solid var( --select-group-bubble-radio-border-checked );
				box-shadow: 0 0 0 1px var( --select-group-bubble-radio-background-checked );
				background-color: var( --select-group-bubble-radio-background-checked );
			}
		}

		&.value-entered,
		&.focused {
			.wmde-banner-select-custom-amount-input-container {
				border: 1px solid var( --select-group-bubble-border-active );
			}

			.wmde-banner-select-custom-amount-input {
				border: 0 none;
				outline: 0 none;
			}
		}

		&-input-container {
			height: $height;
			background-color: var( --select-group-bubble-background );
			border-radius: 8px;
			border: 1px solid var( --select-group-bubble-border );

			/* This style must be in sync with the "radio button shape" style of SelectGroup */
			&::before {
				height: 10px;
				width: 10px;
				top: 50%;
				left: 0;
				margin: -5px 0 0 4px;
				background: var( --select-group-bubble-radio-background );
				border-radius: 50%;
				border: 2px solid #848282;
			}
		}

		&-euro-symbol {
			height: $height - 2px;
			width: 10px;
			line-height: 21px;
			text-align: center;
			margin-top: -10px;
			right: 2px;
		}

		&-input {
			color: var( --select-group-bubble-color );
			background-color: transparent;
			padding: 0 20px;
			font-size: 0.9em;
			font-weight: normal;
			border: 0 none;
			text-align: left;
			height: $height - 2px;

			&:focus,
			&:active {
				border: 1px solid var( --select-group-bubble-border-active );
			}
		}
	}
}
