@mixin layout {
	@keyframes wmde-countdown-bar {
		0% {
			transform: translateX( 0% );
		}
		100% {
			transform: translateX( -100% );
		}
	}

	&-soft-close {
		z-index: 20000;
		width: 100%;

		&-columns {
			display: flex;
		}

		&-actions {
			display: flex;
			flex-wrap: wrap;
		}

		&-button,
		&-prompt {
			display: inline-block;
			padding: 0;
			margin: 0;
		}

		&-button {
			cursor: pointer;
		}

		&-countdown-text {
			display: none;
		}

		&-countdown-bar {
			position: relative;
			overflow: hidden;
		}

		&-countdown-bar-fill {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			animation: wmde-countdown-bar var( --wmde-banner-soft-close-seconds ) linear;
			animation-fill-mode: forwards;
		}
	}
}
