@use 'src/components/Footer/FooterAlreadyDonated';
@use '../variables/colors';

$right-column-width: 300px !default;
$left-column-margin: 0 30px 0 0 !default;

.wmde-banner {
	@include FooterAlreadyDonated.layout;

	&-footer {
		font-size: 12px;
		line-height: 20px;
		color: colors.$black;
		padding: 0;
		margin-top: 0;

		&-bank,
		&-usage {
			padding: 5px 0;
		}

		&-bank {
			margin: $left-column-margin;

			&-item {
				padding-right: 2em;

				&.account .selection-input-text,
				&.account .selection-input-input {
					text-transform: none;
				}
			}
		}

		&-usage {
			text-align: center;
			flex: 0 0 $right-column-width;
			width: $right-column-width;
			&-link {
				color: colors.$black;
				cursor: pointer;
			}
		}

		&-already-donated,
		&-already-donated:visited {
			margin-left: auto;
			color: colors.$black;
		}
	}
}
