.wmde-banner {
	--type-step--2: clamp(0.6076rem, 0.5944rem + 0.0588vw, 0.64rem);
	--type-step--1: clamp(0.7292rem, 0.7002rem + 0.1288vw, 0.8rem);
	--type-step-0: clamp(0.875rem, 0.8239rem + 0.2273vw, 1rem);
	--type-step-1: clamp(1.05rem, 0.9682rem + 0.3636vw, 1.25rem);
	--type-step-2: clamp(1.26rem, 1.1363rem + 0.55vw, 1.5625rem);
	--type-step-3: clamp(1.512rem, 1.3315rem + 0.802vw, 1.9531rem);
	--type-step-4: clamp(1.8144rem, 1.5579rem + 1.14vw, 2.4414rem);
	--type-step-5: clamp(2.1773rem, 1.8195rem + 1.59vw, 3.0518rem);

	--space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
	--space-2xs: clamp(0.4375rem, 0.4119rem + 0.1136vw, 0.5rem);
	--space-xs: clamp(0.6875rem, 0.6619rem + 0.1136vw, 0.75rem);
	--space-s: clamp(0.875rem, 0.8239rem + 0.2273vw, 1rem);
	--space-m: clamp(1.3125rem, 1.2358rem + 0.3409vw, 1.5rem);
	--space-l: clamp(1.75rem, 1.6477rem + 0.4545vw, 2rem);
	--space-xl: clamp(2.625rem, 2.4716rem + 0.6818vw, 3rem);
	--space-2xl: clamp(3.5rem, 3.2955rem + 0.9091vw, 4rem);
	--space-3xl: clamp(5.25rem, 4.9432rem + 1.3636vw, 6rem);

	--font-base: 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Liberation Sans', 'Arial', sans-serif;
	--font-normal: 400;
	--font-semi-bold: 600;
	--font-bold: 700;

	--gutter: var(--space-s);

	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey-100: #eaecf0;
	--color-grey-200: #cbcfd6;
	--color-grey-400: #54595d;
	--color-grey-800: #37383a;

	--color-orange: #da9000;
	--color-yellow: #ffcc33;
	--color-blue: #3366cc;
	--color-green-100: #9eeacb;
	--color-green-500: #1d865b;

	--banner-background: var(--color-white);
	--banner-shadow: 0 3px 0.6em rgb( 60 60 60 / 40% );
	--font-color: var(--color-black);

	--nav-button-background-hover: var(--color-grey-100);
	--info-icon-background: var(--color-green-500);
	--info-icon-color: var(--color-white);

	--mini-background: var(--color-green-500);
	--mini-color: var(--color-white);

	--button-background: var(--color-orange);
	--button-background-secondary: var(--color-blue);
	--button-background-teritary: var(--color-yellow);
	--button-color: var(--color-white);
	--button-color-teritary: var(--color-black);

	--form-background: var(--color-green-100);
}
