@use 'settings/fonts';
@use 'settings/globals';
@use 'settings/breakpoints';

.wmde-banner {
	--color-white: #ffffff;
	--color-off-white: #efefef;
	--color-grey: #bababa;
	--color-grey-dark: #505050;
	--color-black: #000000;
	--color-black-transparent: rgb( 0 0 0 / 60% );
	--color-primary: #ab150a;
	--color-primary-hover: #9e1208;
	--color-secondary: #6e9e00;
	--color-secondary-hover: #669400;

	font-family: fonts.$ui;

	* {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	img {
		border: 0 none;
	}

	p {
		margin: 0 0 24px;
	}

	&--pending {
		.wmde-banner-wrapper {
			box-shadow: none;
		}
	}

	&--closed {
		.wmde-banner-wrapper {
			display: none;
		}
	}
}
