@use 'settings/globals';
@use 'settings/fonts';
@use 'settings/breakpoints';

.wmde-banner {
	&-full {
		--close-icon-fill : var( --full-close-fill );

		visibility: hidden;
		opacity: 0;
		transform: scale( 1.1 );
		font-size: 16px;
		line-height: 1.5;
		background: var( --full-overlay );
		position: fixed;
		display: flex;
		align-items: center;
		top: 0;
		z-index: 1000;
		height: 100vh;
		width: 100vw;
		transition: opacity 500ms globals.$banner-easing, visibility 500ms globals.$banner-easing, transform 500ms globals.$banner-easing;

		@include breakpoints.medium-up {
			font-size: 18px;
		}

		&-scroll {
			padding: 10px;
			max-height: 100vh;
			overflow-y: auto;
			margin: 0 auto;
		}

		&-inner {
			max-width: 1024px;
			position: relative;
			background: var( --full-background );
			padding: 48px 20px 20px;
			border-radius: 6px;
			box-shadow: 0 5px 5px var( --full-box-shadow );
			display: flex;
			flex-direction: column;

			@include breakpoints.medium-up {
				padding: 48px;
			}

			@include breakpoints.x-small-up {
				display: block;
			}

			& > *:nth-child( -n + 7 ) {
				order: 1;
			}

			/* Pull down the stats box */
			& > *:nth-child( 5 ) {
				order: 2;
			}
			& > *:nth-child( n+8 ) {
				order: 3;
			}
		}

		&-title {
			font-size: 34px;
			border: 0;
			padding: 0;
			margin: 0 0 5px;
			font-weight: bold;
			font-family: fonts.$headline;
			text-transform: uppercase;
		}

		&-subtitle {
			font-weight: bold;
		}

		&-sidebar {
			float: right;
			width: 210px;
			margin-left: 20px;
		}

		&-cta {
			clear: both;
			background: var( --full-cta-background );
			color: var( --full-cta-color );
			text-shadow: 2px 2px 2px var( --full-cta-text-shadow );
			padding: 10px 20px 20px;
			border-radius: 6px;

			@include breakpoints.medium-up {
				padding: 20px 40px 40px;
			}

			h2 {
				font-family: fonts.$headline;
				text-transform: uppercase;
				color: var( --full-cta-color );
				border: none;
				font-size: 24px;
				font-weight: bold;
				text-align: center;
				margin: 0 0 20px;
			}

			&-columns {
				display: flex;
				flex-wrap: wrap;
				justify-content: stretch;
				align-items: stretch;
				margin: 0;

				@include breakpoints.small-up {
					margin: 0 -20px;
				}
			}

			&-benefits,
			&-buttons {
				width: 100%;

				@include breakpoints.small-up {
					width: 50%;
					padding: 0 20px;
				}
			}

			&-buttons {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		p.wmde-banner-full-subscribe {
			margin-bottom: 10px;
			font-size: 14px;
			text-align: center;

			a {
				color: var( --full-cta-link-color );
				text-decoration: underline;
				transition: color 500ms ease-in-out;
				display: inline-block;

				&:hover,
				&:focus {
					color: var( --full-cta-link-color-hover );
				}

				&:first-child {
					margin-bottom: 10px;
				}
			}

			@include breakpoints.medium-up {
				margin-bottom: 0;
			}
		}
	}

	&-benefits {
		font-size: 20px;
	}

	&-wrapper {
		&--full-page {
			.wmde-banner-full {
				visibility: visible;
				opacity: 1;
				transform: scale( 1 );
			}
		}
	}
}
