@use 'settings/globals';
@use 'settings/breakpoints';

.wmde-banner {
	&-full {
		visibility: hidden;
		opacity: 0;
		transform: scale( 1.1 );
		font-size: 16px;
		line-height: 1.5;
		background: var( --color-black-transparent );
		position: fixed;
		display: flex;
		align-items: center;
		top: 0;
		z-index: 1000;
		height: 100vh;
		width: 100vw;
		transition: opacity 500ms globals.$banner-easing, visibility 500ms globals.$banner-easing, transform 500ms globals.$banner-easing;

		@include breakpoints.medium-up {
			font-size: 18px;
		}

		&-scroll {
			padding: 10px;
			max-height: 100vh;
			overflow-y: auto;
		}

		&-inner {
			position: relative;
			background: var( --color-white );
			padding: 48px 20px;
			border-radius: 6px;
			box-shadow: 0 5px 5px rgba( 0 0 0 / 0.2 );

			@include breakpoints.medium-up {
				padding: 48px;
			}
		}

		&-cta {
			background: var( --color-off-white );
			padding: 20px;
			border: 1px solid var( --color-primary );
			border-radius: 6px;

			@include breakpoints.medium-up {
				padding: 40px;
			}

			&-columns {
				display: flex;
				flex-wrap: wrap;
				justify-content: stretch;
				align-items: stretch;
				margin: 0;

				@include breakpoints.small-up {
					margin: 0 -20px;
				}
			}

			&-benefits,
			&-buttons {
				width: 100%;

				@include breakpoints.small-up {
					width: 50%;
					padding: 0 20px;
				}

				@include breakpoints.large-up {
					width: auto;
				}
			}

			&-buttons {
				display: flex;
				flex-direction: column;
			}
		}

		p.wmde-banner-full-subscribe {
			margin-bottom: 20px;
			font-size: 14px;
			font-weight: bold;

			a {
				color: var( --color-black );
				text-decoration: underline;
				transition: color 500ms ease-in-out;

				&:hover,
				&:focus {
					color: var( --color-secondary );
				}
			}

			@include breakpoints.medium-up {
				margin-bottom: 0;
			}
		}
	}

	&-wrapper {
		&--full-page {
			.wmde-banner-full {
				visibility: visible;
				opacity: 1;
				transform: scale( 1 );
			}
		}
	}
}
