@use 'settings/breakpoints';

.wmde-banner {
	&-image {
		font-size: 12px;
		text-align: center;
		position: relative;
		padding: 0;
		width: 100%;
		margin: 0 auto 20px;

		img {
			border-radius: 50%;
		}

		&-copyright {
			position: absolute;
			top: 0;
			left: 0;
			width: 210px;
			height: 210px;
			font-size: 6px;
			float: left;
			transform: rotate( 270deg );
		}
	}
}
