@use 'settings/fonts';
@use 'settings/breakpoints';

.wmde-banner {
	&-mini {
		background: var( --color-primary );
		position: relative;
		padding: 10px;
		overflow: hidden;
		text-align: center;

		&-inner {
			padding: 20px;
			background: var( --color-white );
			border-radius: 6px;
			box-shadow: 0 5px 5px rgba( 0 0 0 / 0.2 );

			@include breakpoints.small-up {
				padding: 70px 48px;
			}
		}

		&-text {
			font-size: 24px;

			&-columns {
				display: flex;
			}
			&-progress {
				flex: 1 1 auto;
				padding-top: 2px;
			}
			&-button {
				flex: 0 0 auto;
				padding-left: 16px;
			}
		}
	}

	&-info-button {
		position: absolute;
		top: 10px;
		left: 10px;
		height: 34px;
		width: 34px;
		padding: 8px;
		background: none;
		border: 0;
		cursor: pointer;

		svg circle {
			fill: var( --color-primary );
		}
	}
}
