@use 'settings/globals';
@use 'settings/breakpoints';

.wmde-banner {
	&-progress-bar {
		font-size: 12px;
		border: 3px solid var( --progress-bar-border );
		border-radius: 15px;
		position: relative;
		height: 30px;
		line-height: 25px;
		margin: 0 10px 10px;

		@include breakpoints.x-small-up {
			font-size: 16px;
		}

		@include breakpoints.small-up {
			font-size: 16px;
		}

		&-fill {
			width: 10%;
			transition: width 3000ms globals.$banner-easing;
			position: absolute;
			display: flex;
			justify-content: space-between;
			top: 0;
			left: 0;
			height: 100%;
			text-align: left;
			padding: 0 10px;
			color: var( --progress-bar-color );
			font-weight: bold;
			border-radius: 12px;
			background: var( --progress-bar-fill-background );

			&-text {
				opacity: 0;
				transition: opacity 300ms globals.$banner-easing;
				transition-delay: 3000ms;
			}
		}
	}

	&--visible {
		.wmde-banner-progress-bar-fill {
			width: var( --wmde-banner-progress-bar-width );

			&-text {
				opacity: 1;
			}
		}
	}
}
