@use 'variables/fonts';
@use 'variables/breakpoints';

$height: 248px !default;

@keyframes show-letter {
	0% {
		transform: scale( 0.5 );
	}

	100% {
		transform: scale( 1 );
	}
}

.wmde-banner {
	&-mini {
		background: var( --mini-background );
		box-shadow: var( --mini-box-shadow );
		display: flex;
		flex-direction: column;
		min-height: $height;
		position: relative;
		padding: 20px 20px 10px;

		@include breakpoints.small-up {
			padding: 30px 40px;
		}

		.wmde-banner-close {
			top: 10px;
			right: 10px;

			&-label {
				display: none;
			}
		}

		&-content {
			margin-bottom: 16px;
			text-align: center;

			@include breakpoints.small-up {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 40px;
				text-align: left;
			}
		}

		h2 {
			all: unset;
			display: block;
			font-family: fonts.$header;
			font-size: 60px;
			white-space: nowrap;
			margin-bottom: 16px;

			@include breakpoints.small-up {
				margin-bottom: 0;
				font-size: 90px;
			}

			span {
				transform: scale( 0.5 );
				display: inline-block;
			}
		}

		p {
			padding: 0;
			margin: 0;
			font-size: 14px;

			@include breakpoints.small-up {
				font-size: 16px;
			}

			@include breakpoints.medium-up {
				font-size: 18px;
			}

			@include breakpoints.large-up {
				font-size: 22px;
			}
		}

		&-actions {
			text-align: center;
		}

		&-read-more {
			all: unset;
			background: var( --read-more-background );
			color: var( --read-more-color );
			height: 36px;
			padding: 0 20px;
			border-radius: 5px;
			margin: 0 18px 16px;
			cursor: pointer;
			font-size: 16px;
			transition: background 200ms ease-in-out;

			@include breakpoints.small-up {
				margin: 0 18px;
			}
			&:hover,
			&:focus {
				background: var( --read-more-background-hover );
			}
		}
	}

	&--visible {
		.wmde-banner-mini h2 > span {
			animation: show-letter 2s cubic-bezier( 0, 1.13, 0.46, 1.97 );
			animation-fill-mode: forwards;
			animation-delay: calc( 0.08s * var( --index ) );
		}
	}
}
