@use 'src/themes/Treedip/variables/globals';
@use 'src/themes/Treedip/variables/colors';
@use 'src/themes/Treedip/variables/fonts';
@use 'sass:color';

$breakpoint: 800px;

.wmde-banner {
	&-fallback {
		width: 100%;
		height: 150px;
		display: flex;
		flex-direction: column;
		background: colors.$white;
		box-shadow: 0 3px 0.6em rgba( 60 60 60 / 40% );

		@media ( min-width: $breakpoint ) {
			height: auto;
			min-height: 250px;
			padding: 4px;
		}

		&-small,
		&-large {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
		}

		&-small {
			align-items: center;
			border: 4px solid colors.$primary;
			border-radius: 4px;
			padding: 8px;

			.wmde-banner-progress-bar {
				height: 25px;
				line-height: 25px;
			}

			.wmde-banner-progress-bar-text,
			.wmde-banner-progress-bar-fill-wrapper {
				height: 25px;
			}

			.wmde-banner-progress-bar--late-progress {
				height: 50px;
				margin-top: -10px;

				.wmde-banner-progress-bar-text-left {
					margin-top: 25px;
				}
			}

			.wmde-banner-progress-bar-fill {
				line-height: 20px;
			}

			.wmde-banner-fallback-button {
				margin: 0 0 8px;
			}

			.wmde-banner-selection-input-text,
			.wmde-banner-selection-input-input {
				font-family: fonts.$content;
				font-size: 14px;
				font-weight: normal;
			}
		}

		&-large {
			align-items: stretch;
		}

		&-usage-link {
			color: colors.$gray;
		}

		&-message {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			border: 4px solid colors.$primary;
			border-radius: 4px;
			padding: 8px 0;
		}

		&-bank-item {
			display: block;

			&-label {
				font-weight: bold;
			}
		}

		.wmde-banner-close {
			height: 16px;
			width: 16px;
			top: 8px;
			right: 8px;

			@media ( min-width: $breakpoint ) {
				height: 30px;
				width: 30px;
				top: 12px;
				right: 12px;
			}
		}

		.wmde-banner-slider-container {
			padding: 0 0 8px;
		}

		.wmde-banner-slide-content {
			font-size: 14px;
			p {
				margin-bottom: 8px;
			}
		}

		.wmde-banner-slider-navigation-previous,
		.wmde-banner-slider-navigation-next {
			align-items: end;
		}

		.wmde-banner-slider-pagination-dot {
			cursor: default;
		}

		.wmde-banner-message {
			flex: 1 1 auto;

			p {
				margin-bottom: 0;
			}
		}
	}

	&--pending {
		.wmde-banner-fallback {
			box-shadow: none;
		}
	}
}
