.wmde-banner {
	--color-black: #000000;
	--color-white: #ffffff;

	--color-grey-100: #eaecf0;
	--color-grey-200: #cbcfd6;
	--color-grey-400: #54595d;
	--color-grey-800: #37383a;

	--color-red-100: #fee7e6;
	--color-red-600: #a80000;

	--color-blue-100: #ebf1ff;
	--color-blue-300: #9ab9fd;
	--color-blue-350: #3366cc;
	--color-blue-400: #155dfc;
	--color-blue-600: #1f4c93;

	--color-yellow-300: #ffdd4c;

	--font-base: 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Liberation Sans', 'Arial', sans-serif;
	--font-normal: 400;
	--font-semi-bold: 600;
	--font-bold: 700;

	/* @link https://utopia.fyi/type/calculator?c=360,14,1.2,1240,18,1.25,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--type-step-00: clamp( 0.7292rem, 0.6593rem + 0.3106vw, 0.9rem );
	--type-step-0: clamp( 0.875rem, 0.7727rem + 0.4545vw, 1.125rem );
	--type-step-1: clamp( 1.05rem, 0.9043rem + 0.6477vw, 1.4063rem );
	--type-step-2: clamp( 1.26rem, 1.0563rem + 0.9051vw, 1.7578rem );

	/* Type Leading */
	--leading-micro: 0.85;
	--leading-flat: 1;
	--leading-fine: 1.2;
	--leading-standard: 1.4;
	--leading-loose: 1.7;

	/* @link https://utopia.fyi/space/calculator?c=360,14,1.2,1240,18,1.25,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--space-3xs: clamp( 0.25rem, 0.2244rem + 0.1136vw, 0.3125rem );
	--space-2xs: clamp( 0.4375rem, 0.3864rem + 0.2273vw, 0.5625rem );
	--space-xs: clamp( 0.6875rem, 0.6108rem + 0.3409vw, 0.875rem );
	--space-s: clamp( 0.875rem, 0.7727rem + 0.4545vw, 1.125rem );
	--space-m: clamp( 1.3125rem, 1.1591rem + 0.6818vw, 1.6875rem );
	--space-l: clamp( 1.75rem, 1.5455rem + 0.9091vw, 2.25rem );
	--space-xl: clamp( 2.625rem, 2.3182rem + 1.3636vw, 3.375rem );

	/* Global Variables */
	--gutter: var( --space-xs );
	--easing: cubic-bezier( 0.885, 0.09, 0.49, 0.85 );
	--flow-space: var( --space-xs );

	--banner-shadow: drop-shadow( 0 4px 10px rgb( 0, 0, 0, 0.15 ) );
	--info-icon-background: var( --color-grey-100 );
	--info-icon-color: var( --color-blue-400 );
	--focus-color: var( --color-blue-600 );

	--form-field-border-color: var( --color-grey-200 );
	--form-field-background-color: var( --color-white );
	--form-field-color: var( --color-black );

	--form-field-border-color-checked: var( --color-blue-600 );
	--form-field-background-color-checked: var( --color-blue-600 );
	--form-field-background-color-checked-focused: var( --color-white );
	--form-field-color-checked: var( --color-white );

	--form-field-button-color: var( --color-white );
	--form-field-button-background: var( --color-red-600 );
}

.skin-theme-clientpref-night .wmde-banner {
	--form-field-border-color: var( --color-grey-400 );
	--form-field-background-color: var( --color-black );
	--form-field-color: var( --color-white );
}

@media ( prefers-color-scheme: dark ) {
	.skin-theme-clientpref-os .wmde-banner {
		--form-field-border-color: var( --color-grey-400 );
		--form-field-background-color: var( --color-black );
		--form-field-color: var( --color-white );
	}
}
