@use '@src/themes/Modo/variables/globals';
@use '@src/themes/Modo/variables/breakpoints';

.wmde-banner {
	&-full {
		background: var( --full-background );
		position: fixed;
		top: 0;
		z-index: 1000;
		height: 100vh;
		width: 100vw;

		&-content {
			overflow-y: auto;
			height: 100%;
			width: 100%;
			padding: 12px;
		}

		p {
			padding-bottom: 16px;
		}

		&-close {
			position: absolute;
			top: 0;
			right: 0;
			height: 36px;
			width: 36px;
			padding: 5px 3px 5px 7px;
			background: transparent;
			z-index: 99;
			border: none;

			svg {
				height: 15px;
				width: 15px;
				background: var( --full-close-background );
				border-radius: 16px;
				box-sizing: content-box;
				border: solid 5px var( --full-close-background );
			}

			&:hover {
				cursor: pointer;
			}
		}

		&-info {
			padding: 12px;
			background: var( --full-info-background );
			border-radius: 16px;
			color: var( --info-color );
		}

		&-content-below-info {
			background: var( --full-content-below-info-background );
			border-radius: 16px;
		}

		&-call-to-action {
			position: relative;
			color: var( --full-cta-color );
			background: var( --full-cta-background );
			font-weight: bold;
			font-size: 14px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			border-radius: 16px;
			margin-bottom: 10px;
			margin-top: 10px;

			&-optional-text {
				display: none;

				@include breakpoints.tablet-portrait-up {
					display: inline;
				}
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -4px;
				left: 50%;
				margin-left: -4px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 4px 0;
				border-color: var( --full-cta-background ) transparent transparent transparent;
			}
		}

		.banner-text-title {
			margin-right: 30px;
		}

		&-small-print {
			text-align: center;
			font-size: 12px;
			margin-bottom: 16px;

			a {
				color: var( --full-smallprint-color );

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}
