@use '@src/themes/Mikings/variables/globals';
@use '@src/themes/Mikings/variables/breakpoints';

$height: 336px !default;
$height-l-up: 288px !default;

.wmde-banner {
	&-mini {
		display: flex;
		flex-direction: column;
		min-height: $height;
		padding: 16px 0;
		position: relative;
		border: 2px solid var( --mini-border );
		background: var( --mini-background );

		@include breakpoints.phone-l-up {
			min-height: $height-l-up;
		}

		&-close {
			position: absolute;
			height: 36px;
			width: 36px;
			top: 11px;
			right: 16px;
			text-align: center;
			background: var( --mini-close-background );
			padding: 10px;
			z-index: 2;

			&-button {
				border: none;
				margin-top: auto;
				float: right;
				height: 16px;
				line-height: 16px;
				width: 16px;
				background: var( --mini-close-background );
				z-index: 2;

				svg {
					height: 16px;
					width: 16px;
				}

				&:hover {
					cursor: pointer;
				}
			}
		}

		&-headline {
			height: 25px;
			text-align: center;
			margin: 0 16px 16px;

			&-background {
				position: relative;
				text-align: left;

				@media ( min-width: 400px ) {
					text-align: center;
				}

				/* single line above container */
				&::before {
					content: '';
					display: block;
					background: var( --mini-headline-line );
					width: 100%;
					height: 1px;
					position: absolute;
					top: 50%;
					z-index: 1;
				}
			}

			&-content {
				position: relative;
				display: inline-block;
				font-weight: bold;
				font-size: 14px;
				line-height: 25px;
				color: var( --mini-headline-color );
				background: var( --mini-headline-background );
				padding: 0 5px;
				z-index: 2;
				white-space: nowrap;

				@media ( min-width: 330px ) {
					font-size: 16px;
				}

				@media ( min-width: 360px ) {
					font-size: 18px;
				}
			}
		}

		&-slideshow {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
		}

		&-button-group {
			display: flex;
			justify-content: center;
		}

		&-button,
		&-button-preselect {
			width: 50%;
			height: 40px;
			border: none;
			border-radius: 20px;
			font-weight: bold;
			color: var( --mini-button-color );
			margin: 0 16px;
			font-size: 14px;
			white-space: nowrap;

			@media ( min-width: 370px ) {
				font-size: 16px;
			}
		}

		&-button {
			background: var( --mini-button-background );

			&:hover,
			&:focus {
				background: var( --mini-button-background-hover );
			}
		}

		&-button-preselect {
			background: var( --mini-button-alt-background );

			&:hover,
			&:focus {
				background: var( --mini-button-alt-background-hover );
			}
		}

		.smallprint-mini {
			text-align: center;
			font-size: 11px;
			margin-top: 12px;
			margin-bottom: -5px;

			a {
				color: var( --mini-smallprint-color );

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}
