@use 'src/themes/Modo/swatches/skin_default' with (
	$upgrade-to-yearly-button-form: true,
	$progress-bar: true,
	$soft-close: true,
	$thank-you-box: true
);
@use 'src/components/BannerConductor/banner-transition';
@use 'src/themes/UseOfFunds/swatches/skin_default' as uof-default;
@use 'src/themes/UseOfFunds/UseOfFunds';
@use 'src/themes/Modo/defaults';
@use './Banner';
@use './MiniBannerVar' with (
	$height: 306px
);
@use './FullPageBannerVar';
@use 'src/themes/Modo/Footer/Footer';
@use 'src/themes/Modo/ThankYouBox/ThankYouBox';
@use 'src/themes/Modo/Footer/SelectionInput';
@use 'src/themes/Modo/DonationForm/MultiStepDonation';
@use 'src/themes/Modo/DonationForm/Forms/UpgradeToYearlyButtonForm';
@use 'src/themes/Modo/DonationForm/SubComponents/SelectGroup';
@use 'src/themes/Modo/DonationForm/SubComponents/SelectCustomAmount';
@use 'src/themes/Modo/DonationForm/SubComponents/SmsBox';
@use 'src/themes/Modo/Slider/Slider';
@use 'src/themes/Modo/SoftClose/SoftClose';
@use 'src/themes/Modo/ProgressBar/ProgressBar';
@use 'src/themes/Modo/Message/Message';
