$breakpoint-xs: 440px;
$breakpoint-s: 750px;
$breakpoint-m: 1000px;
$breakpoint-l: 1200px;

/*
MIXIN USAGE:
.my-selector {
	@include breakpoints.small-up {
		// Stuff that happens when bigger than $small
	}
}
*/

@mixin x-small-up {
	@media ( min-width: $breakpoint-xs ) {
		@content;
	}
}

@mixin small-up {
	@media ( min-width: $breakpoint-s ) {
		@content;
	}
}

@mixin medium-up {
	@media ( min-width: $breakpoint-m ) {
		@content;
	}
}

@mixin large-up {
	@media ( min-width: $breakpoint-l ) {
		@content;
	}
}
