// This is the file where we import the theme-specific component styles
@use '../../../../src/themes/Treedip/swatches/skin_default' with (
	$slider: true,
	$progress-bar: true,
	$select-group: true,
	$select-group-bubble: true,
	$select-group-image-label: true,
	$upgrade-to-yearly: true,
	$soft-close: true,
	$fallback-banner: true,
);
@use '@src/themes/Treedip/variables/breakpoints';
@use '@src/components/BannerConductor/banner-transition';
@use 'Banner';
@use 'MainBanner' with (
	$banner-height: 394px,
	$form-width: 300px
);
@use '../../../../src/themes/UseOfFunds/swatches/skin_default' as uof-default;
@use '@src/themes/UseOfFunds/UseOfFunds';
@use '@src/themes/Treedip/defaults';
@use '@src/themes/Treedip/ButtonClose/ButtonClose';
@use '@src/themes/Treedip/ProgressBar/ProgressBar' with (
	$progress-bar-margin: 0 15px
);
@use '@src/themes/Treedip/DonationForm/DonationForm';
@use '@src/themes/Treedip/DonationForm/MultiStepDonation';
@use '@src/themes/Treedip/DonationForm/BubbleForm/SelectGroupBubble';
@use '@src/themes/Treedip/DonationForm/BubbleForm/SelectGroupRadioBubbles' with (
	$wmde-banner-select-group-option-label-height: 38px
);
@use '@src/themes/Treedip/DonationForm/BubbleForm/SelectCustomAmountRadioBubble' with (
	$height: 38px
);
@use '@src/themes/Treedip/DonationForm/BubbleForm/SelectGroupBubbleImageLabel';
@use '@src/themes/Treedip/DonationForm/SubComponents/SmsBox';
@use '@src/themes/Treedip/DonationForm/SubComponents/TransactionFees';
@use '@src/themes/Treedip/DonationForm/Forms/MainDonationForm' with (
	$wmde-banner-sub-form-donation-padding: 0
);
@use '@src/themes/Treedip/DonationForm/Forms/UpgradeToYearlyButtonForm';
@use '@src/themes/Treedip/Footer/FooterAlreadyDonated';
@use '@src/themes/Treedip/Footer/SelectionInput';
@use '@src/themes/Treedip/Message/Message' with (
	$font-sizes: ( breakpoints.$extra-small: 16px, breakpoints.$extra-large + 100px: 18px )
);
@use '@src/themes/Treedip/Slider/KeenSlider';
@use '@src/themes/Treedip/SoftClose/SoftClose';
