@use '../variables/colors';
@use '../variables/fonts';
@use 'src/components/Slider/KeenSlider';

$font: fonts.$content !default;
$slider-padding: 16px 0 !default;

.wmde-banner {
	@include KeenSlider.layout;

	&-slider-container {
		font-family: $font;
		font-size: 1.3em;
		padding: $slider-padding;
	}

	&-slide {
		cursor: grab;

		&--current {
			.wmde-banner-slider-text-animated-highlight {
				background-position: 0 0;
			}
		}

		&-content {
			text-align: center;
			padding: 0 30px;

			p {
				margin: 0 0 1em;
			}

			p:last-child {
				margin: 0;
			}
		}
	}

	&-slider-pagination {
		&-dot {
			background: colors.$gray-light;
			width: 15px;
			height: 15px;
			margin: 0 4px;
			border-radius: 50%;
			cursor: pointer;
			border: 3px solid colors.$white;

			&:focus {
				outline: 0;
			}
		}
		.is-active {
			background: colors.$white;
			border: 3px solid colors.$primary;
		}
	}

	.headline {
		font-weight: bold;
	}
}
