.wmde-banner {
	/* @link https://utopia.fyi/space/calculator?c=360,14,1.125,1240,16,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--space-3xs: clamp( 0.25rem, 0.25rem + 0vw, 0.25rem );
	--space-2xs: clamp( 0.4375rem, 0.4119rem + 0.1136vw, 0.5rem );
	--space-xs: clamp( 0.6875rem, 0.6619rem + 0.1136vw, 0.75rem );
	--space-s: clamp( 0.875rem, 0.8239rem + 0.2273vw, 1rem );
	--space-m: clamp( 1.3125rem, 1.2358rem + 0.3409vw, 1.5rem );
	--space-l: clamp( 1.75rem, 1.6477rem + 0.4545vw, 2rem );
	--space-xl: clamp( 2.625rem, 2.4716rem + 0.6818vw, 3rem );
	--space-2xl: clamp( 3.5rem, 3.2955rem + 0.9091vw, 4rem );
	--space-3xl: clamp( 5.25rem, 4.9432rem + 1.3636vw, 6rem );
}