$white: #ffffff;
$black: #000000;

$grey100: #f8f9fa;
$grey150: #dddddd;
$grey200: #bbbbbb;
$grey300: #b7b7b7;
$grey500: #808080;
$grey600: #747474;
$grey700: #202122;

$red600: #990a00;

$blue600: #4465a7;
$blue700: #2a4b8d;

@mixin swatch(
	$slider: false,
	$progress-bar: false,
	$select-group: false,
	$select-group-bubble: false,
	$select-group-button: false,
	$select-group-image-label: false,
	$upgrade-to-yearly: false,
	$already-donated: false,
	$soft-close: false,
	$fallback-banner: false
) {
	--main-background: #{$white};
	--main-color: #{$grey700};
	--main-title-line-background: #{$red600};
	--main-border-bottom: #{$grey200};
	--main-box-shadow: 0 3px 0.6em rgba( 60 60 60 / 40% );

	--message-background: #{$white};
	--message-border: #{$red600};

	--info-icon-background: #{$red600};
	--info-icon-color: #{$white};

	--color-error: #{$red600};
	--button-close-fill: #{$grey600};
	--button-background: #{$blue700};
	--button-color: #{$white};

	--footer-color: #{$black};
	--input-selection-color: #{$black};
	--input-selection-selected-background: #{$red600};
	--input-selection-selected-color: #{$white};
	--input-checkbox-border: #{$grey500};
	--input-checkbox-checked-background: #{$blue600};

	--animated-highlight-color: #{$grey700};
	/* stylelint-disable */
	--animated-highlight-gradient: linear-gradient(
		270deg,
		rgba( 255, 255, 255, 0 ) 0%,
		rgba( 255, 255, 255, 0 ) 50%,
		rgba( 255, 222, 103 ) 50%,
		rgba( 255, 222, 103 ) 100%
	);
	/* stylelint-enable */

	@if $slider {
		--slider-pagination-background: #{$grey150};
		--slider-pagination-border: #{$white};
		--slider-pagination-background-active: #{$white};
		--slider-pagination-border-active: #{$red600};
		--slider-chevron: #{$grey600};
	}

	@if $progress-bar {
		--progress-bar-wrapper-border: #{$red600};
		--progress-bar-wrapper-background: #{$white};
		--progress-bar-fill-background: #{$red600};
		--progress-bar-fill-color: #{$white};
	}

	@if $select-group {
		--select-group-background: #{$white};
		--select-group-radio-label-color: #{$black};
		--select-group-radio-label-background: #{$grey200};
		--select-group-radio-label-border: #{$grey200};
		--select-group-radio-border-checked: #{$red600};

		--select-custom-amount-border: #{$grey150};
		--select-custom-amount-color: #{$grey700};
		--select-custom-amount-border-checked: #{$blue700};

		--select-custom-amount-radio-background: #{$white};
		--select-custom-amount-radio-border: #{$grey200};
		--select-custom-amount-radio-border-checked: #{$blue700};
	}

	@if $select-group-bubble {
		--select-group-bubble-color: #{$black};
		--select-group-bubble-background: #{$white};
		--select-group-bubble-background-active: #{$white};
		--select-group-bubble-border: #{$grey300};
		--select-group-bubble-border-active: #{$blue700};

		--select-group-bubble-radio-background: #{$white};
		--select-group-bubble-radio-border: #{$grey500};
		--select-group-bubble-radio-background-checked: #{$white};
		--select-group-bubble-radio-border-checked: #{$blue700};
		--select-group-bubble-radio-checkmark: #{$blue700};
	}

	@if $select-group-button {
		--select-group-button-border: #{$grey300};
		--select-group-button-background: #{$grey100};
		--select-group-button-background-focused: #{$grey150};
		--select-group-button-border-checked: #{$grey600};
		--select-group-button-background-checked: #{$blue700};
		--select-group-button-color-checked: #{$white};
	}

	@if $select-group-image-label {
		--paypal-primary-fill: #003087;
		--paypal-secondary-fill: #0070e0;
		--paypal-overlap-fill: #001c64;
		--paypal-primary-fill-active: #{$white};
		--paypal-secondary-fill-active: #{$white};
		--paypal-overlap-fill-active: transparent;

		--visa-fill: #1434cb;
		--visa-fill-active: #{$white};

		--mastercard-primary-fill: #eb001b;
		--mastercard-secondary-fill: #f79e1b;
		--mastercard-overlap-fill: #ff5a00;
		--mastercard-text-fill: #2f292b;
		--mastercard-primary-fill-active: #{$white};
		--mastercard-secondary-fill-active: #{$white};
		--mastercard-overlap-fill-active: transparent;
		--mastercard-text-fill-active: #{$white};

		--sepa-primary-fill: #0366a6;
		--sepa-secondary-fill: #a2aab5;
		--sepa-primary-fill-active: #{$white};
		--sepa-secondary-fill-active: #{$white};

		--bank-transfer-fill: #{$grey700};
		--bank-transfer-fill-active: #{$white};

		--amex-primary-fill: #006fcf;
		--amex-text-fill: #{$white};
		--amex-primary-fill-active: #{$white};
		--amex-text-fill-active: transparent;
	}

	@if $upgrade-to-yearly {
		--upgrade-to-yearly-link-color: #{$blue700};
		--upgrade-to-yearly-back-color: #{$grey600};
	}

	@if $already-donated {
		--already-donated-button-background: #{$red600};
		--already-donated-button-color: #{$white};
	}

	@if $soft-close {
		--soft-close-background: #{$white};
		--soft-close-button-background: #{$red600};
		--soft-close-button-color: #{$white};
		--soft-close-bar-background: #{$red600};
		--soft-close-donated-button-background: #{$red600};
		--soft-close-donated-button-border: #{$red600};
		--soft-close-donated-button-color: #{$white};
	}

	@if $fallback-banner {
		--fallback-background: #{$white};
		--fallback-border: #{$red600};
		--fallback-button-background: #{$blue700};
		--fallback-button-color: #{$white};
		--fallback-button-background-hover: #{$blue600};
		--fallback-message-background: #{$white};
		--fallback-message-border: #{$red600};
		--fallback-uof-link: #{$grey500};
	}
}
