$white: #ffffff;
$black: #000000;

$grey100: #f8f9fa;
$grey150: #dddddd;
$grey200: #bbbbbb;
$grey300: #b7b7b7;
$grey500: #808080;
$grey600: #777777;
$grey650: #383838;
$grey700: #292929;
$grey800: #1f1f1f;

$red100: #ff8888;
$red600: #e60f00;

$blue600: #547fd5;
$blue700: #436fc7;
$blue800: #20303f;

@mixin swatch(
	$slider: false,
	$progress-bar: false,
	$select-group: false,
	$select-group-bubble: false,
	$select-group-button: false,
	$select-group-image-label: false,
	$transaction-fees: false,
	$upgrade-to-yearly: false,
	$already-donated: false,
	$soft-close: false,
	$fallback-banner: false,
) {
	--main-background: #{$grey800};
	--main-color: #{$white};
	--main-title-line-background: #{$grey100};
	--main-border-bottom: #{$grey600};
	--main-box-shadow: none;

	--message-background: #{$grey700};
	--message-border: #{$red600};

	--color-error: #{$red100};
	--button-close-fill: #{$grey600};
	--button-background: #{$blue700};
	--button-color: #{$white};

	--footer-color: #{$grey100};
	--input-selection-color: #{$grey100};
	--input-selection-selected-background: #{$red600};
	--input-selection-selected-color: #{$white};
	--input-checkbox-border: #{$grey200};
	--input-checkbox-checked-background: #{$blue700};

	--animated-highlight-color: #{$white};
	/* stylelint-disable */
	--animated-highlight-gradient: linear-gradient(
		270deg,
		rgba( 255, 255, 255, 0 ) 0%,
		rgba( 255, 255, 255, 0 ) 50%,
		rgba( 42, 75, 141 ) 50%,
		rgba( 42, 75, 141 ) 100%
	);
	/* stylelint-enable */

	@if $slider {
		--slider-pagination-background: #{$grey800};
		--slider-pagination-border: #{$white};
		--slider-pagination-background-active: #{$red600};
		--slider-pagination-border-active: #{$red600};
		--slider-chevron: #{$white};
	}

	@if $progress-bar {
		--progress-bar-wrapper-border: #{$red600};
		--progress-bar-wrapper-background: #{$grey700};
		--progress-bar-fill-background: #{$red600};
		--progress-bar-fill-color: #{$white};
	}

	@if $select-group {
		--select-group-background: #{$white};
		--select-group-radio-label-color: #{$black};
		--select-group-radio-label-background: #{$grey200};
		--select-group-radio-label-border: #{$grey200};
		--select-group-radio-border-checked: #{$red600};

		--select-custom-amount-border: #{$grey150};
		--select-custom-amount-color: #{$white};
		--select-custom-amount-border-checked: #{$blue700};

		--select-custom-amount-radio-background: #{$white};
		--select-custom-amount-radio-border: #{$grey200};
		--select-custom-amount-radio-border-checked: #{$blue700};
	}

	@if $select-group-bubble {
		--select-group-bubble-color: #{$grey150};
		--select-group-bubble-background: #{$grey700};
		--select-group-bubble-background-active: #{$blue800};
		--select-group-bubble-border: #{$grey650};
		--select-group-bubble-border-active: #{$blue700};

		--select-group-bubble-radio-background: #{$white};
		--select-group-bubble-radio-border: #{$grey600};
		--select-group-bubble-radio-background-checked: #{$blue700};
		--select-group-bubble-radio-border-checked: #{$white};
		--select-group-bubble-radio-checkmark: #{$blue700};
	}

	@if $select-group-button {
		--select-group-button-border: #{$grey300};
		--select-group-button-background: #{$grey100};
		--select-group-button-background-focused: #{$grey150};
		--select-group-button-border-checked: #{$grey600};
		--select-group-button-background-checked: #{$blue700};
		--select-group-button-color-checked: #{$white};
	}

	@if $select-group-image-label {
		--paypal-primary-fill: #{white};
		--paypal-secondary-fill: #{white};
		--paypal-overlap-fill: transparent;
		--paypal-primary-fill-active: #{$white};
		--paypal-secondary-fill-active: #{$white};
		--paypal-overlap-fill-active: transparent;

		--visa-fill: #{$white};
		--visa-fill-active: #{$white};

		--mastercard-primary-fill: #{$white};
		--mastercard-secondary-fill: #{$white};
		--mastercard-overlap-fill: transparent;
		--mastercard-text-fill: #{$white};
		--mastercard-primary-fill-active: #{$white};
		--mastercard-secondary-fill-active: #{$white};
		--mastercard-overlap-fill-active: transparent;
		--mastercard-text-fill-active: #{$white};

		--sepa-primary-fill: #{$white};
		--sepa-secondary-fill: #{$white};
		--sepa-primary-fill-active: #{$white};
		--sepa-secondary-fill-active: #{$white};

		--bank-transfer-fill: #{$white};
		--bank-transfer-fill-active: #{$white};

		--amex-primary-fill: #{$white};
		--amex-text-fill: transparent;
		--amex-primary-fill-active: #{$white};
		--amex-text-fill-active: transparent;
	}

	@if $upgrade-to-yearly {
		--upgrade-to-yearly-link-color: #{$blue700};
		--upgrade-to-yearly-back-color: #{$white};
	}

	@if $already-donated {
		--already-donated-button-background: #{$red600};
		--already-donated-button-color: #{$white};
	}

	@if $soft-close {
		--soft-close-background: #{$grey700};
		--soft-close-button-background: #{$red600};
		--soft-close-button-color: #{$white};
		--soft-close-bar-background: #{$red600};
	}

	@if $fallback-banner {
		--fallback-background: #{$grey800};
		--fallback-border: #{$red600};
		--fallback-button-background: #{$blue700};
		--fallback-button-color: #{$white};
		--fallback-button-background-hover: #{$blue600};
		--fallback-message-background: #{$grey700};
		--fallback-message-border: #{$red600};
		--fallback-uof-link: #{$grey200};
	}
}
