@use 'color_dark';
@use 'color_light';

$slider: false !default;
$progress-bar: false !default;
$select-group: false !default;
$select-group-bubble: false !default;
$select-group-button: false !default;
$upgrade-to-yearly: false !default;
$already-donated: false !default;
$soft-close: false !default;
$fallback-banner: false !default;

.skin-theme-clientpref-day .wmde-banner {
	@include color_light.swatch(
		$slider,
		$progress-bar,
		$select-group,
		$select-group-bubble,
		$select-group-button,
		$upgrade-to-yearly,
		$already-donated,
		$soft-close,
		$fallback-banner
	);
}

.skin-theme-clientpref-night .wmde-banner {
	@include color_dark.swatch(
		$slider,
		$progress-bar,
		$select-group,
		$select-group-bubble,
		$select-group-button,
		$upgrade-to-yearly,
		$already-donated,
		$soft-close,
		$fallback-banner
	);
}

.skin-theme-clientpref-os .wmde-banner {
	@media ( prefers-color-scheme: dark ) {
		@include color_dark.swatch(
			$slider,
			$progress-bar,
			$select-group,
			$select-group-bubble,
			$select-group-button,
			$upgrade-to-yearly,
			$already-donated,
			$soft-close,
			$fallback-banner
		);
	}

	@media ( prefers-color-scheme: light ) {
		@include color_light.swatch(
			$slider,
			$progress-bar,
			$select-group,
			$select-group-bubble,
			$select-group-button,
			$upgrade-to-yearly,
			$already-donated,
			$soft-close,
			$fallback-banner
		);
	}
}
