.wmde-b-mini-donation-form {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	top: 0;
	background: #fff;
	z-index: 100;
	padding: 10px;
}

.wmde-b-mini-donation-form footer {
	--repel-vertical-alignment: flex-start;
}