@use '../variables/colors';
@use 'SoftClose';

.wmde-banner {
	.wmde-banner-subscription-form-link {
		border: 0 none;
		background-color: colors.$secondary;
		border-radius: 18px;
		font-size: 14px;
		line-height: 40px;
		height: 40px;
		font-weight: bold;
		text-align: center;
		margin: 0 4px 8px;
		color: colors.$white;
		text-decoration: none;
	}
}
