@use 'src/components/SoftClose/SoftClose';
@use '../variables/colors';
@use '../variables/fonts';
@use '../variables/breakpoints';

.wmde-banner {
	@include SoftClose.layout;

	&-soft-close {
		background: colors.$white;
		border: 2px solid colors.$primary;
		box-shadow: 0 3px 0.6em rgba( 60 60 60 / 40% );
		text-align: center;
		font-weight: bold;

		&-columns {
			padding: 8px 8px 0;
			flex-wrap: nowrap;
			justify-content: center;

			@include breakpoints.phone-l-up {
				padding: 8px 27px 0;
			}
		}

		&-actions {
			justify-content: center;
		}

		&-prompt {
			line-height: 40px;
			height: 40px;
			padding: 0 10px;
			font-size: 18px;
			font-family: fonts.$ui;
			margin-bottom: 8px;
		}

		&-buttons {
			text-align: center;
		}

		&-button {
			border: 0 none;
			color: colors.$white;
			background-color: colors.$secondary;
			border-radius: 18px;
			font-size: 14px;
			line-height: 40px;
			height: 40px;
			font-weight: bold;
			text-align: center;
			margin: 0 4px 8px;
			min-width: 120px;

			@include breakpoints.phone-xs-up {
				min-width: 150px;
			}
		}

		&-countdown-text {
			display: none;
		}

		&-countdown-bar {
			height: 3px;
		}

		&-countdown-bar-fill {
			background-color: colors.$secondary;
		}

		&-with-close-icon {
			.wmde-banner-soft-close-columns {
				padding-right: 50px;
			}
		}
	}
}
