@use '../variables/globals';

.wmde-fbb {
	&-progress-bar-fill {
		transition: width 3000ms globals.$banner-easing;
	}

	&-progress-bar-text-left,
	&-progress-bar-text-right,
	&-progress-bar-fill-text {
		opacity: 0;
		transition: opacity 300ms globals.$banner-easing;
		transition-delay: 3000ms;
	}
}

.wmde-banner--visible {
	.wmde-fbb-progress-bar-fill {
		width: var( --wmde-banner-progress-bar-width );
	}

	.wmde-fbb-progress-bar-text-left,
	.wmde-fbb-progress-bar-text-right,
	.wmde-fbb-progress-bar-fill-text {
		opacity: 1;
	}
}
