@use 'src/themes/Mikings/swatches/skin_default' with (
	$upgrade-to-yearly-button-form: true,
	$progress-bar: true,
);
@use 'src/components/BannerConductor/banner-transition';
@use '../../../../src/components/UseOfFunds/styles/swatches/skin_default' as uof-default;
@use '../../../../src/components/UseOfFunds/styles/styles';
@use 'src/themes/Mikings/defaults';
@use './Banner';
@use './MiniBanner' with (
	$height: 267px
);
@use './FullPageBannerVar';
@use 'src/themes/Mikings/Footer/Footer';
@use 'src/themes/Mikings/Footer/SelectionInput';
@use 'src/themes/Mikings/DonationForm/MultiStepDonation';
@use 'src/themes/Mikings/DonationForm/Forms/UpgradeToYearlyButtonForm';
@use 'src/themes/Mikings/DonationForm/SubComponents/SelectGroup' with (
	$amount-option-width: 50%,
	$interval-option-width: 50%,
	$payment-option-width: 50%,
);
@use 'src/themes/Mikings/DonationForm/SubComponents/SelectCustomAmount' with (
	$width: 50%,
);
@use 'src/themes/Mikings/Slider/Slider';
@use 'src/themes/Mikings/ProgressBar/ProgressBar';
