@use 'src/themes/Treedip/variables/globals';

.wmde-banner {
	&-minimised {
		--chevron-color: var( --minimised-control-fill );

		padding: 12px 24px 0;

		&-content-row {
			display: flex;
			flex-direction: row;
		}

		&-column-left {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			margin-right: 30px;
		}

		&-column-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-content-message {
			display: flex;
			padding: 11px 15px 11px 34px;
			color: var( --minimised-color );
			background-color: var( --minimised-background );
			border: none;
			border-radius: 9px;
			font-size: 16px;

			svg {
				float: left;
				margin: 10px 0 0 -22px;
			}

			p + p {
				line-height: 1.6;
			}
		}

		&-content-button {
			flex: 0 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: end;
		}

		&-title {
			font-size: 18px;
			font-weight: bold;
		}

		&-submit-button {
			width: 300px;
			background: var( --minimised-button-background );
			color: var( --minimised-button-color );
			font-weight: bold;
			line-height: 36px;
			border: 0;
			border-radius: 18px;
			padding: 0 10px;
			transition: background-color 500ms globals.$banner-easing;
			cursor: pointer;

			&:hover,
			&:focus {
				background: var( --minimised-button-background-hover );
			}
		}

		&-button-group {
			z-index: 2;
			top: 13px;
			right: 24px;
			height: 30px;
			width: 300px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;

			.wmde-banner-close {
				position: static;
			}
		}

		&-minimise,
		&-maximise {
			background: none;
			border: 2px solid var( --minimised-control-border );
			border-radius: 15px;
			cursor: pointer;
			color: var( --minimised-control-color );
			margin-right: 8px;
			font-size: 14px;
			font-weight: bold;
			padding-left: 12px;
			padding-right: 12px;

			svg {
				width: 20px;
				fill: var( --minimised-control-border );
			}
		}

		&-minimise {
			svg {
				transform: rotate( 180deg );
				margin-left: 3px;
			}
		}
	}
}
