@use '@src/themes/Yperala/variables/breakpoints';

.wmde-banner {
	&-full {
		position: fixed;
		top: 0;
		z-index: 1000;
		height: 100%;
		width: 100%;
		background: var( --full-background );
		box-shadow: var( --full-box-shadow );
		text-align: center;
		display: block;
		margin: 0 auto;
		border-radius: 15px;
		border: 8px solid var( --full-border );

		&-content {
			padding: 5px 5px 15px;
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
			width: 100%;

			@include breakpoints.phone-s-up {
				padding: 5px 20px 15px;
			}

			@include breakpoints.phone-l-up {
				padding: 5px 20px 15px;
			}

			@include breakpoints.phone-l-up {
				padding: 5px 40px 15px;
			}
		}

		&-close {
			position: absolute;
			top: 3px;
			right: 3px;
			z-index: 2;
			height: 36px;
			width: 36px;
			padding: 5px;
			border-radius: 50%;
			background: var( --full-close-background );
			border: 0;
		}

		&-info {
			.wmde-banner-message {
				margin: 20px 0;
				font-size: 20px;
				line-height: 1.3;
				text-align: left;
				font-weight: bold;

				@include breakpoints.tablet-portrait-up {
					font-size: 24px;
					line-height: 1.4;
				}
			}

			.banner-text-title {
				margin-bottom: 10px;
			}
		}
	}
	&-founder-image {
		display: block;
		width: 80px;
		height: 80px;
		margin: 10px auto;

		border-radius: 50%;
		border: 1px solid var( --full-cta-background );

		&-license-link {
			display: block;
			text-decoration: none;
			color: grey;
			font-size: 14px;
			margin-bottom: 20px;
			margin-left: 20px;
		}
	}
}
