@use 'src/components/DonationForm/SubComponents/SelectGroup';

/**
 These are for defining the column widths of the individual select groups
 Use 50% for 2 columns, use 25% for 4 columns
 */
$amount-option-width: 25% !default;
$interval-option-width: 50% !default;
$payment-option-width: 50% !default;
$border-radius: 0 !default;
$padding: 0 !default;
$height: auto !default;
$line-height: 25px !default;
$font-weight: bold !default;

.wmde-banner {
	@include SelectGroup.layout;

	&-select-group {
		font-size: 0.9em;
		font-weight: $font-weight;
		line-height: $line-height;

		&-container {
			line-height: inherit;
			background-color: var( --select-group-background );
			border-radius: $border-radius;
			padding: $padding;
			height: $height;
			margin-right: 15px;
		}

		&-error-message {
			height: 16px;
			line-height: 16px;
			color: var( --color-error );
			font-weight: bold;
			text-align: center;
			margin-bottom: 0.2em;
			font-size: 0.8em;
		}

		&-option.interval-0 {
			align-self: flex-end;
			flex: 0 0 30.3333%;
			width: 30.3333%;
		}

		&-recurring {
			padding: 4px 0 3px 9px;
			margin-top: 0;
			border-radius: 4px;
			background: var( --highlighted-interval-background );
		}

		&-recurring p {
			color: var( --highlighted-interval-color );
			font-size: 14px;
			font-weight: normal;
			font-style: italic;
			padding: 0;
			margin: 0 0 4px;
		}

		&-recurring svg {
			--heart-icon-fill: var( --highlighted-interval-color );
			position: relative;
			width: 11px;
			top: 3px;
		}

		&-recurring-options {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			gap: 5px;
		}

		.wmde-banner-disabled {
			opacity: 0.3;
		}
	}

	&-select-group-container.select-amount {
		margin-top: 0;
		.wmde-banner-select-group-option {
			width: $amount-option-width;
		}
	}

	&-select-group-container.select-interval {
		.wmde-banner-select-group-option {
			width: $interval-option-width;
		}
	}

	&-select-group-container.select-payment-method {
		.wmde-banner-select-group-option {
			width: $payment-option-width;
		}
	}
}

.wmde-banner-select-group-container.select-interval .wmde-banner-select-group {
	flex-wrap: nowrap;
}
