@use '../../variables/fonts';
@use '../../variables/colors';
@use 'src/components/DonationForm/Forms/AddressTypeForm';

.wmde-banner {
	@include AddressTypeForm.layout;

	&-form-address-type {
		.wmde-banner-form-field-group {
			padding: 0 0 10px;

			&-legend {
				display: none;
				visibility: hidden;
				font-family: fonts.$ui;
				line-height: 13px;
				color: colors.$black-light;
			}
		}

		&-title {
			position: relative;
			line-height: 16px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 10px;

			.back {
				position: absolute;
				display: block;
				height: 16px;
				width: 16px;
				top: 0;
				left: 0;
			}
		}

		&-notice {
			font-weight: bold;
			font-size: fonts.$size-s;
			margin-bottom: auto;

			/* min-height is to reserve space and prevent 1st page from "jumping",
				because the last page has the largest height
			 */
			min-height: 28px;
		}

		.wmde-banner-select-group-notice {
			font-weight: normal;
			line-height: 1.5;
			padding-left: 25px;
		}
	}
}
