.wmde-banner {
	/* @link https://utopia.fyi/space/calculator?c=800,14,1.2,2240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--space-3xs: clamp(0.25rem, 0.2153rem + 0.0694vw, 0.3125rem);
	--space-2xs: clamp(0.4375rem, 0.3681rem + 0.1389vw, 0.5625rem);
	--space-xs: clamp(0.6875rem, 0.5833rem + 0.2083vw, 0.875rem);
	--space-s: clamp(0.875rem, 0.7361rem + 0.2778vw, 1.125rem);
	--space-m: clamp(1.3125rem, 1.1042rem + 0.4167vw, 1.6875rem);
	--space-l: clamp(1.75rem, 1.4722rem + 0.5556vw, 2.25rem);
	--space-xl: clamp(2.625rem, 2.2083rem + 0.8333vw, 3.375rem);
	--space-2xl: clamp(3.5rem, 2.9444rem + 1.1111vw, 4.5rem);
	--space-3xl: clamp(5.25rem, 4.4167rem + 1.6667vw, 6.75rem);
}
