@mixin layout {
	&-donor-heart {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;

		&-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&-icon {
			width: 62px;

			> svg {
				filter: drop-shadow( 0 5px 5px rgb( 0 0 0 / 0.2 ) );
			}
		}
	}
}
