@use '../../variables/breakpoints';
@use 'radio-input';

.wmde-banner {
	&-select-group {
		&-option label {
			padding: 0 10px 0 25px;
			margin-top: 3px;
			cursor: pointer;
			height: 25px;

			@include breakpoints.medium-up {
				height: 29px;
			}

			@include breakpoints.large-up {
				height: 25px;
			}
		}

		&-label {
			color: var( --select-group-radio-label-color );
			border: 0 none;
			font-size: 0.95em;
		}

		&-input {
			@include radio-input.styles;
		}
	}
}
