// This is the file where we import the theme-specific component styles
@use 'src/themes/Treedip/swatches/skin_default' with (
	$slider: true,
	$select-group: true,
	$upgrade-to-yearly: true,
	$fallback-banner: true,
	$double-progress-bar: true,
	$soft-close: true,
);
@use 'src/components/BannerConductor/banner-transition';
@use 'src/themes/UseOfFunds/swatches/skin_default' as uof-default;
@use 'Banner';
@use 'src/themes/UseOfFunds/UseOfFunds';
@use 'MainBannerVar' with (
	$banner-height: 357px,
	$form-width: 300px
);
@use 'src/themes/Treedip/defaults';
@use 'src/themes/Treedip/ButtonClose/ButtonClose';
@use 'src/themes/Treedip/ProgressBar/DoubleProgressBar';
@use 'src/themes/Treedip/DonationForm/DonationForm';
@use 'src/themes/Treedip/DonationForm/MultiStepDonation';
@use 'src/themes/Treedip/DonationForm/SubComponents/SelectGroup';
@use 'src/themes/Treedip/DonationForm/SubComponents/SelectGroupRadios';
@use 'src/themes/Treedip/DonationForm/SubComponents/SelectCustomAmountRadio';
@use 'src/themes/Treedip/DonationForm/SubComponents/SmsBox';
@use 'src/themes/Treedip/DonationForm/Forms/MainDonationForm';
@use 'src/themes/Treedip/DonationForm/Forms/UpgradeToYearlyButtonForm' with (
	$font-size: 14px
);
@use 'src/themes/Treedip/DonationForm/Forms/CustomAmountForm';
@use 'src/themes/Treedip/Footer/FooterAlreadyDonated';
@use 'src/themes/Treedip/Footer/SelectionInput';
@use 'src/themes/Treedip/Message/Message'  with (
	$slider-main-headline-font-size: 25px,
	$message-header-padding-bottom: 8px,
	$message-header-small-up-padding-bottom: 8px
);
@use 'src/themes/Treedip/SoftClose/SoftClose';
@use 'src/themes/Treedip/Slider/KeenSlider' with (
	$slider-padding: 0
);

/**
 * Fallback banner with "Fijitiv" theme
 * All selectors in Fijitiv theme are prefixed with the ".wmde-banner-fallback" class selector,
  so they override the "default" styles with the same selector
 */
@use 'FallbackBannerVar';
@use 'src/themes/Fijitiv/FallbackBanner/FallbackButton';
@use 'src/themes/Fijitiv/FallbackBanner/LargeFooter' with (
	$fallback-large-footer-right-before-border-color: white
);
@use 'src/themes/Fijitiv/FallbackBanner/SmallFooter';
@use 'src/themes/Fijitiv/ProgressBar/ProgressBar' as FallbackProgressBar with (
	$progress-bar-margin: 0 15px
);
@use 'src/themes/Fijitiv/Slider/KeenSlider' as FallbackSlider;
