@use '@src/themes/Mikings/variables/colors';
@use '@src/themes/Mikings/variables/globals';
@use '@src/themes/Mikings/variables/breakpoints';

.wmde-banner {
	&-form-field-group {
		border: 0;
	}

	&-full {
		position: fixed;
		top: 0;
		z-index: 1000;
		background: colors.$white;
		border: 2px solid colors.$primary;
		height: 100vh;
		width: 100vw;

		&-content {
			overflow-y: auto;
			height: 100%;
			width: 100%;
		}

		p {
			margin: 0;
			padding-bottom: 16px;
			line-height: 25px;
		}

		&-close {
			position: absolute;
			top: 16px;
			right: 16px;
			height: 35px;
			width: 35px;
			padding: 5px;
			background: colors.$white;
			z-index: 99;
			border-radius: 50%;
			border: 0;

			&:hover {
				cursor: pointer;
			}

			.close-button {
				text-decoration: underline;
			}
		}

		&-info {
			padding: 16px;
		}

		&-call-to-action {
			position: relative;
			color: colors.$white;
			background: colors.$primary;
			font-weight: bold;
			height: 31px;
			line-height: 31px;
			text-align: center;

			&-optional-text {
				display: none;

				@include breakpoints.tablet-portrait-up {
					display: inline;
				}
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -4px;
				left: 50%;
				margin-left: -4px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 4px 0;
				border-color: colors.$primary transparent transparent transparent;
			}
		}

		.banner-text-title {
			margin-right: 30px;
		}

		&-small-print {
			text-align: center;
			font-size: 12px;
			margin-bottom: 16px;

			a {
				color: colors.$gray;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}
