// Put channel-specific variable overrides here and prune the file regularly!
// Variable-based styling should be done in the theme!

/*
Always work 'mobile first':
	do not use @media ( max-width: $breakpoint-x )
	always use @media ( min-width: $breakpoint-x )
*/
$breakpoint-s: 1024px;
$breakpoint-m: 1090px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1580px;
