@use '../../../../components/DonationForm/SubComponents/SelectCustomAmount';
@use 'radio-input';

$height: 28px;

.wmde-banner {
	@include SelectCustomAmount.layout;

	/*
	The layout settings of this element should be similar to wmde-banner-select-group-option
	because the custom amount is presented as an "option" inside the amount select group
	In the future, we might use tools of the CSS framework (e.g. SCSS mixins)
	to keep the styles in sync
	 */
	&-select-custom-amount {
		width: 50%;
		padding: 0 4px;
		cursor: pointer;
		height: $height;

		&-radio {
			@include radio-input.styles( $left: 11px );
		}

		&.value-entered,
		&.focused {
			.wmde-banner-select-custom-amount-input-container {
				border: 1px solid var( --select-group-bubble-border-active );
			}

			.wmde-banner-select-custom-amount-input {
				border: 0 none;
				outline: 0 none;
			}
		}

		&-input-container {
			height: $height;
			background-color: var( --select-group-bubble-background );
			border-radius: 30px;
			border: 1px solid var( --select-group-bubble-border );
		}

		&-euro-symbol {
			height: $height - 2px;
			width: 10px;
			line-height: 21px;
			text-align: center;
			margin-top: -10px;
			right: 2px;
		}

		&-input {
			color: var( --select-group-bubble-color );
			background-color: transparent;
			padding: 0 20px;
			font-size: 1em;
			font-weight: bold;
			border: 0 none;
			text-align: left;
			height: $height - 2px;

			&:focus,
			&:active {
				border: 1px solid var( --select-group-bubble-border-active );
			}
		}
	}
}
