$white: #ffffff;
$black: #000000;

$grey100: #d8d8d8;
$grey400: #979797;

$green: #10826b;
$red: #9d0000;
$blue200: #2c9bf0;
$blue500: #154985;
$yellow: #fbf38d;

@mixin swatch() {
	--background: #{$white};
	--color: #{$black};

	--close-button-background: #{$white};

	--accordion-border: #{$grey100};
	--chevron-color: #{$grey400};
	--color-giving-back: #{$green};
	--color-knowledge: #{$red};
	--color-technical: #{$blue500};

	--highlight-background: #{$yellow};
	--cta-background: #{$blue200};
	--cta-background-hover: #{$blue500};
	--cta-color: #{$white};
}
