@use 'src/components/SoftClose/SoftClose';
@use '../variables/breakpoints';
@use '../variables/fonts';

$background-color: var( --color-primary ) !default;

.wmde-banner {
	@include SoftClose.layout;

	&-soft-close {
		background: var( --soft-close-background );
		box-shadow: 0 3px 0.6em rgba( 60 60 60 / 40% );

		&-columns {
			padding: 8px;
			flex-wrap: nowrap;
			justify-content: center;

			@include breakpoints.large-up {
				padding: 8px 27px;
				justify-content: space-between;
			}
		}

		&-actions {
			justify-content: center;
		}

		&-prompt {
			text-align: center;
			line-height: 32px;
			height: 32px;
			margin-right: 20px;
			font-size: 18px;
			font-family: fonts.$content;
			white-space: nowrap;
		}

		&-buttons {
			display: flex;
			align-items: center;
			text-align: center;
		}

		&-button {
			border: 0 none;
			min-width: 150px;
			color: var( --soft-close-button-color );
			background-color: var( --soft-close-button-background );
			border-radius: 18px;
			font-size: 14px;
			line-height: 32px;
			height: 32px;
			font-weight: bold;
			text-align: center;
			margin: 0 4px;
		}

		&-countdown-text {
			line-height: 32px;
			font-size: 14px;
			text-align: right;

			@include breakpoints.large-up {
				display: flex;
				align-items: center;
			}
		}

		&-countdown-bar {
			height: 3px;
		}

		&-countdown-bar-fill {
			background-color: var( --soft-close-bar-background );
		}

		&-with-close-icon {
			.wmde-banner-soft-close-columns {
				padding-right: 50px;
			}
		}
	}
}
