@use './variables/breakpoints';

.wmde-banner {
	&-eds {
		max-width: 264px;
		margin: 0 auto 16px;

		@include breakpoints.x-small-up {
			float: right;
			padding-left: 16px;
			background: var(--full-background);
		}

		@include breakpoints.small-up {
			float: none;
			padding-left: 0;
		}

		img {
			margin: 0 0 12px;
		}

		p {
			font-size: 12px;
			margin: 0;
		}

		.wmde-banner-eds-copyright {
			font-size: 10px;

			a {
				color: var( --link-color );
				transition: color 200ms ease-in-out;

				&:hover,
				&:focus {
					color: var( --link-color-hover );
				}
			}
		}
	}
}
