@use './variables/breakpoints';

.wmde-banner {
	&-progress-bar {
		border: 3px solid var( --progress-border );
		height: 34px;
		border-radius: 17px;
		display: flex;
		flex-direction: column;
		position: relative;
		margin-bottom: 16px;

		@include breakpoints.small-up {
			margin-bottom: 34px;
		}

		&-fill {
			background: var( --progress-fill-background );
			color: var( --progress-color );
			line-height: 28px;
			border-radius: 14px;
			position: absolute;
			left: 0;
			height: 100%;
			width: 10%;
			max-width: 100%;
			padding: 0 20px;
			font-size: 14px;
			font-weight: bold;
			transition: width 3000ms ease-in-out;

			&-text {
				opacity: 0;
				transition: opacity 300ms ease-in-out;
				transition-delay: 3000ms;
			}

			&-icon {
				border: 2px solid var( --progress-fill-icon-border );
				background: var( --progress-fill-icon-background );
				position: absolute;
				height: 34px;
				width: 34px;
				border-radius: 17px;
				top: -3px;
				right: -3px;

				svg {
					position: relative;
					left: 7px;
					transform: scale( 0 );
					transition: transform 300ms ease-in-out;
					transition-delay: 3000ms;
				}

				.confetti {
					position: absolute;
					height: 0;
					width: 0;
					top: 50%;
					left: 50%;

					> span {
						position: absolute;
						background: var( --progress-fill-icon-content );
						height: 2px;
						width: 0;
						transition: top 200ms ease-in, width 200ms ease-in;
						transition-delay: calc( 3000ms + 0.08s * var( --index ) );
					}
				}

				.confetti-1 {
					transform: rotate( 34.03deg );
					top: 0;
					left: 0;
				}

				.confetti-2 {
					transform: rotate( -86.03deg );
					top: 0;
					left: 0;
				}

				.confetti-3 {
					transform: rotate( -45deg );
					top: 0;
					right: 0;
				}

				.confetti-4 {
					transform: rotate( -2.01deg );
					top: 0;
					right: 0;
				}

				.confetti-5 {
					transform: rotate( 34.03deg );
					bottom: 0;
					right: 0;
				}

				.confetti-6 {
					transform: rotate( 86.03deg );
					bottom: 0;
					left: 0;
				}
			}
		}
	}

	&--visible {
		.wmde-banner-progress-bar-fill {
			width: var( --wmde-banner-progress-bar-width );

			&-text {
				opacity: 1;
			}

			&-icon {
				svg {
					transform: scale( 1 );
				}

				.confetti > span {
					width: 8px;
				}

				.confetti-1 {
					top: -26px;
					left: -22px;
				}

				.confetti-2 {
					top: -32px;
					left: 0;
				}

				.confetti-3 {
					top: -26px;
					right: -26px;
				}

				.confetti-4 {
					top: 0;
					right: -32px;
				}

				.confetti-5 {
					bottom: -22px;
					right: -26px;
				}

				.confetti-6 {
					bottom: -32px;
					left: -4px;
				}
			}
		}
	}
}
