@mixin layout {
	&-sub-form-donation {
		.wmde-banner-form-field-group {
			border: 0;
			margin: 0;
			display: block;

			&-legend {
				width: 100%;
				position: relative;
				padding: 0;
			}
		}
	}
}
