// This is the file where we import the theme-specific component styles
@use 'src/themes/Mustard/swatches/skin_vector-2022' with (
	$slider: true,
	$select-group: true,
	$select-group-bubble: true,
	$select-group-button: true,
	$select-group-image-label: true,
	$upgrade-to-yearly: true,
	$fallback-banner: true,
	$progress-bar: true,
	$select-group-highlighted-interval: true,
);
@use 'src/components/BannerConductor/banner-transition';
@use '../../../../src/components/UseOfFunds/styles/swatches/skin_vector-2022' as uof-default;
@use 'Banner';
@use '../../../../src/components/UseOfFunds/styles/styles';
@use 'MainBanner' with (
	$banner-height: 357px
);
@use 'src/themes/Mustard/defaults';
@use 'src/themes/Mustard/ButtonClose/ButtonClose';
@use 'src/themes/Mustard/ProgressBar/ProgressBar';
@use 'src/themes/Mustard/DonationForm/DonationForm';
@use 'src/themes/Mustard/DonationForm/MultiStepDonation';
@use 'src/themes/Mustard/DonationForm/SubComponents/SelectGroupHighlightedInterval' with (
	$payment-option-width: 25%
);
@use 'src/themes/Mustard/DonationForm/SubComponents/SelectGroupRadios';
@use 'src/themes/Mustard/DonationForm/SubComponents/SelectGroupPortraitImageLabel';
@use 'src/themes/Mustard/DonationForm/SubComponents/SelectCustomAmountRadio';
@use 'src/themes/Mustard/DonationForm/Forms/MainDonationForm';
@use 'src/themes/Mustard/DonationForm/Forms/UpgradeToYearlyButtonForm' with (
	$font-size: 14px
);
@use 'src/themes/Mustard/Footer/FooterAlreadyDonatedWithoutFundsLink';
@use 'src/themes/Mustard/Footer/SelectionInput';
@use 'src/themes/Mustard/Message/Message'  with (
	$slider-main-headline-font-size: 25px,
	$slider-sub-headline-font-size: 16px,
	$message-header-padding-bottom: 8px,
	$message-header-small-up-padding-bottom: 8px
);
@use 'src/themes/Mustard/Slider/KeenSlider' with (
	$slider-padding: 0
);
@use 'src/themes/Mustard/UseOfFundsLink/UseOfFundsLink';
@use 'src/components/FallbackBanner/styles/swatches/skin_vector-2022' as fbb-default;
@use 'src/components/FallbackBanner/styles/styles' as fbb-styles;
