$primary: #990a00;
$primary-dark: #6c0000;
$primary-light: #dbb0ad;
$secondary: #2a4b8d;
$secondary-light: #4465a7;
$secondary-intense: #3366cc;
$secondary-hover: #3584c6;
$white: #ffffff;
$gray-medium: #747474;
$white: #ffffff;
$white-off: #f8f9fa;
$black: #000000;
$black-light: #202122;
$gray: #808080;
$gray-medium-light: #9aa0a7;
$error: #990000;

$text-highlight-color: rgba( 255, 222, 103 );
$transparent-color: $white-off;

$donation-form-button-colour: #2a4b8d;
$donation-form-button-label-colour: #ffffff;
