/* This is the easing function that most of the banner transitions use */
$banner-easing: cubic-bezier( 0.63, 0.155, 0.38, 0.885 ) !default;

/* This is how much space the form and the footer elements beneath it need to take up on the right */
$form-width: 256px !default;
$footer-column-right-width: $form-width !default;

/* This is the border radius of the inputs/buttons etc in the form */
$form-element-border-radius: 2px !default;

/* This icon is shown when a form field is invalid
   TODO: Refactor this out of here */
$error-icon: url( "data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3138 0H4.68622L0 4.68622V11.3138L4.68622 16H11.3138L16 11.3138V4.68622L11.3138 0ZM8.88889 12.4444H7.11111V10.6667H8.88889V12.4444ZM8.88889 8.88889H7.11111V3.55556H8.88889V8.88889Z' fill='%23812923'/%3E%3C/svg%3E%0A" ) !default;

$donation-form-select-option-line-height: 2.5em !default;

$donation-form-select-option-button-height: 3em !default;

$donation-form-padding: 30px 0;
