@use '../variables/fonts';
@use '../variables/breakpoints';

$font: fonts.$content !default;
$font-sizes: ( breakpoints.$extra-small: 18px ) !default;

.wmde-banner {
	&-message {
		height: 100%;
		display: flex;
		align-items: center;
		font-family: $font;
		line-height: 1.3em;
		text-align: left;

		@each $width, $font-size in $font-sizes {
			@media ( min-width: $width ) {
				font-size: $font-size;
			}
		}

		p {
			margin: 0 0 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-title {
			max-height: 62px;
			margin: 0 0 4px;
			text-align: center;
			font-size: 1.4em;
			font-weight: bold;
		}

		&-icon {
			position: relative;
			width: 20px;
			height: 20px;
		}

		&-date {
			text-align: center;
			padding-bottom: 15px;
		}

		button {
			all: unset;
		}

		button,
		a {
			color: var( --message-link );
			text-decoration: underline;
			cursor: pointer;

			&:hover,
			&:focus {
				color: var( --message-link-hover );
			}
		}
	}

	&-message-header {
		font-family: $font;
		text-align: center;
		padding-bottom: 0;

		@include breakpoints.small-up {
			padding-bottom: 15px;
		}

		h2 {
			font-family: $font;
			color: var( --message-color );
			border: 0;
			display: inline-block;
			max-height: 62px;
			margin: 0 0 4px;
			padding: 0;
			font-size: 18px;
			font-weight: 800;
			line-height: 18px;

			@include breakpoints.small-up {
				font-size: 25px;
				line-height: 24px;
			}
		}

		svg {
			height: 20px;
			width: 20px;
		}

		p {
			font-size: 18px;
			margin: 0;
			padding: 0;
		}
	}
}
