@use './variables/units';
@use './variables/breakpoints';
@use 'sass:map';

.wmde-banner {
	.use-of-funds {
		color: var( --text-color );
		background: var( --background );
		padding: map.get( units.$spacing, 'small' );
		line-height: 1.8;
		font-size: 16px;
		max-width: 100vw;

		@include breakpoints.desktop-up {
			padding: map.get( units.$spacing, 'large' );
		}

		p {
			margin: 0 0 map.get( units.$spacing, 'small' );
			padding: 0;
			font-size: 16px;
			font-weight: 400;
		}

		a {
			color: var( --link-color );
			&:hover,
			&:focus {
				color: var( --link-color-hover );
			}
		}

		h2 {
			font-weight: bold;
			font-size: 18px;
			margin: 0 0 map.get( units.$spacing, 'small' );
			padding: 0;
			border: 0;

			@include breakpoints.tablet-up {
				font-size: 22px;
			}

			@include breakpoints.desktop-up {
				font-size: 24px;
			}
		}

		h2.use-of-funds-heading {
			font-weight: normal;
			margin-bottom: 16px;
		}

		p.use-of-funds-summary-text {
			line-height: 1.8;
			font-size: 16px;

			@include breakpoints.tablet-up {
				font-size: 18px;
			}
		}

		&-usage {
			margin-bottom: map.get( units.$spacing, 'small' );
			display: block;

			@include breakpoints.desktop-up {
				margin-bottom: map.get( units.$spacing, 'large' );
			}

			&-accordion {
				margin-bottom: map.get( units.$spacing, 'small' );
			}

			details {
				margin-bottom: 1px;

				summary {
					position: relative;
					list-style-type: none;
					font-size: 18px;
					font-weight: bold;
					padding: 14px 46px 14px 14px;
					cursor: pointer;

					&::-webkit-details-marker {
						display: none;
					}

					svg {
						position: absolute;
						right: 14px;
						top: 50%;
						margin-top: -5px;
					}
				}

				> div {
					padding: 0 46px 14px 14px;
				}

				&[ open ] summary svg {
					transform: rotate( 180deg );
				}

				&:nth-child( 1 ) {
					--chevron-stroke: var( --usage-1-color );
					background: var( --usage-1-background );

					summary {
						color: var( --usage-1-color );
					}
				}

				&:nth-child( 2 ) {
					--chevron-stroke: var( --usage-2-color );
					background: var( --usage-2-background );

					summary {
						color: var( --usage-2-color );
					}
				}

				&:nth-child( 3 ) {
					--chevron-stroke: var( --usage-3-color );
					background: var( --usage-3-background );

					summary {
						color: var( --usage-3-color );
					}
				}

				&:nth-child( 4 ) {
					--chevron-stroke: var( --usage-4-color );
					background: var( --usage-4-background );

					summary {
						color: var( --usage-4-color );
					}
				}
			}
		}

		&-benefits {
			background: var( --benefits-background );
			margin: 0 ( -( map.get( units.$spacing, 'small' ) ) ) map.get( units.$spacing, 'small' );
			padding: map.get( units.$spacing, 'small' );

			@include breakpoints.tablet-up {
				padding: map.get( units.$spacing, 'large' );
			}

			@include breakpoints.desktop-up {
				margin: 0 ( -( map.get( units.$spacing, 'large' ) ) ) map.get( units.$spacing, 'large' );
			}

			h2 {
				margin-bottom: map.get( units.$spacing, 'medium' );

				@include breakpoints.tablet-up {
					text-align: center;
					margin-bottom: map.get( units.$spacing, 'large' );
				}
			}

			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					display: flex;
					margin-bottom: map.get( units.$spacing, 'medium' );

					@include breakpoints.tablet-up {
						font-size: 18px;
						margin-bottom: map.get( units.$spacing, 'large' );
						margin-right: map.get( units.$spacing, 'large' );
					}

					@include breakpoints.desktop-up {
						font-size: 20px;
						margin-bottom: map.get( units.$spacing, 'x-large' );
						margin-right: map.get( units.$spacing, 'xx-large' );
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&-benefits-icon {
			display: block;
			width: 48px;
			height: 52px;
			margin-right: map.get( units.$spacing, 'x-small' );

			svg {
				width: 48px;
				height: 52px;
			}

			@include breakpoints.tablet-up {
				width: 60px;
				height: 65px;
				margin: 0 map.get( units.$spacing, 'large' ) 0;

				svg {
					width: 60px;
					height: 65px;
				}
			}

			@include breakpoints.desktop-up {
				margin: 0 map.get( units.$spacing, 'xx-large' ) 0;
			}
		}

		&-revenue-comparison {
			margin: 0 0 map.get( units.$spacing, 'small' );

			h3 {
				font-size: 18px;
				font-weight: bold;
			}

			&-content {
				margin-bottom: map.get( units.$spacing, 'small' );

				@include breakpoints.desktop-up {
					margin-bottom: map.get( units.$spacing, 'large' );
				}
			}

			@include breakpoints.tablet-up {
				display: flex;
				margin: 0 ( -( map.get( units.$spacing, 'small' ) ) ) map.get( units.$spacing, 'large' );

				&-content,
				&-companies {
					width: 50%;
					padding: 0 map.get( units.$spacing, 'small' );
					margin-bottom: 0;
				}
			}

			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					display: flex;
				}

				li:last-child {
					.use-of-funds-companies-company {
						font-weight: bold;
					}

					.use-of-funds-companies-budget-line {
						background: var( --budget-line-background-wikipedia );
					}
				}
			}
		}

		&-companies {
			&-company {
				flex: 0 0 80px;
			}

			&-graph {
				flex: 1 0 auto;
				display: flex;
				padding: 5px 0;
				align-items: center;
			}

			&-number {
				flex: 0 0 85px;
				text-align: right;
				white-space: nowrap;
			}

			&-link {
				flex: 0 0 50px;
				font-size: 14px;
				text-align: right;
			}

			&-budget-line {
				background: var( --budget-line-background );
				min-width: 3px;
				height: 10px;
			}
		}
	}
}
