.wmde-banner {
	&-usage-link {
		font-size: 12px;
		line-height: 18px;
		padding: 2px;
		text-align: center;
		color: var( --footer-color );
		cursor: pointer;
		text-decoration: none;
		margin-left: 40px;

		&-wrapper {
			margin-top: 6px;
			margin-bottom: 4px;
		}
	}
}
