@use 'src/themes/Modo/variables/globals';
@use 'src/themes/Modo/variables/breakpoints';

$height: 336px !default;
$height-l-up: 288px !default;

.wmde-banner {
	&-mini {
		display: flex;
		flex-direction: column;
		min-height: $height;
		padding: 6px;
		position: relative;
		background: var( --mini-background );
		color: var( --info-color );

		@include breakpoints.phone-l-up {
			min-height: $height-l-up;
			padding: 12px;
		}

		&-info-section {
			display: flex;
			position: relative;
			color: var( --mini-headline-color );
			font-weight: bold;
			font-size: 11px;

			padding-bottom: 8px;
		}

		&-uof-link {
			background: none;
			border: none;
			cursor: pointer;

			padding-right: 20px;

			--info-icon-background: var( --mini-info-section-color );
			--info-icon-color: var( --mini-info-section-icon-color );
			svg {
				width: 10px;
				height: 10px;
				top: -5px;
			}
		}

		&-already-donated-button {
			background: none;
			border: none;
			cursor: pointer;

			--info-icon-background: var( --mini-info-section-color );
			--info-icon-color: var( --mini-info-section-icon-color );
			svg {
				width: 10px;
				height: 10px;
				top: -5px;
			}
		}

		&-info {
			background: var( --mini-info-background );
			border-radius: 16px;
			margin-bottom: 6px;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			position: relative;

			@include breakpoints.phone-l-up {
				margin-bottom: 12px;
			}
		}

		&-close {
			top: -9px;
			right: -9px;
			position: absolute;
			height: 36px;
			width: 36px;
			padding: 5px 3px 5px 7px;
			background: transparent;
			z-index: 99;
			border: none;

			svg {
				height: 15px;
				width: 15px;
				background: var( --mini-close-background );
				border-radius: 16px;
				box-sizing: content-box;
				border: solid 5px var( --mini-close-background );
			}

			&:hover {
				cursor: pointer;
			}
		}

		&-headline {
			height: 25px;
			text-align: center;
			margin: 16px 16px 12px;

			&-background {
				position: relative;
				text-align: center;

				@media ( min-width: 400px ) {
					text-align: center;
				}

				/* single line above container */
				&::before {
					content: '';
					display: block;
					background: var( --mini-headline-line );
					width: 100%;
					height: 1px;
					position: absolute;
					top: 50%;
					z-index: 1;
				}
			}

			&-content {
				position: relative;
				display: inline-block;
				font-weight: bold;
				font-size: 14px;
				line-height: 25px;
				background: var( --mini-headline-background );
				padding: 0 5px;
				z-index: 2;
				white-space: nowrap;

				@media ( min-width: 330px ) {
					font-size: 16px;
				}

				@media ( min-width: 360px ) {
					font-size: 18px;
				}
			}
		}

		&-slideshow {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
		}

		&-button-group {
			display: flex;
			justify-content: center;
			margin: 0 -6px;

			@include breakpoints.phone-l-up {
				margin: 0 -12px;
			}
		}

		&-button,
		&-button-preselect {
			width: 50%;
			height: 40px;
			border: none;
			border-radius: 20px;
			font-weight: bold;
			font-size: 14px;
			white-space: nowrap;
			margin: 0 6px;

			@include breakpoints.phone-l-up {
				margin: 0 12px;
			}

			@media ( min-width: 370px ) {
				font-size: 16px;
			}
		}

		&-button {
			background: var( --mini-button-background );
			color: var( --mini-button-alt-color );

			&:hover,
			&:focus {
				background: var( --mini-button-background-hover );
			}
		}

		&-button-preselect {
			background: var( --mini-button-alt-background );
			color: var( --mini-button-color );

			&:hover,
			&:focus {
				background: var( --mini-button-alt-background-hover );
			}
		}

		.smallprint-mini {
			text-align: center;
			font-size: 11px;
			margin-top: 12px;
			margin-bottom: -5px;

			a {
				color: var( --mini-smallprint-color );

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}
