$red100: #dbb0ad;
$red400: #990a00;
$red500: #6c0000;
$red-transparent100: rgb( 219, 176, 173, 0.3 );

$blue10: #f8f9fa; /* offwhite */

$green400: #6e9e00;
$green500: #598000;

$error: #990000;
$link: #3366cc;

$white: #ffffff;
$black: #000000;
$grey100: #e0e5e9;
$grey150: #d9d9d9;
$grey450: #808080;
$grey600: #595959;
$grey800: #222222;

$blue-grey400: #7d8389;

$orange600: #da9000;
$orange700: #b47200;

@mixin swatch(
	$progress-bar: false,
	$select-group-image-label: false,
	$soft-close: false,
	$upgrade-to-yearly: false
) {
	--main-color: #{$grey800};
	--color-error: #{$error};
	--color-link: #{$link};

	--headline-line: #{$grey600};
	--headline-background: #{$blue10};
	--headline-color: #{$grey600};

	--close-circle-background-fill: #{$red400};
	--close-circle-x-fill: #{$white};

	--mini-background: #{$blue10};
	--mini-border: #{$red400};
	--mini-box-shadow: 0 7px 22px 0 rgb( 0, 0, 0, 0.35 );

	--mini-button-color: #{$white};
	--mini-button-background: #{$orange600};
	--mini-button-background-hover: #{$orange700};
	--mini-button-alt-background: #{$green400};
	--mini-button-alt-background-hover: #{$green500};

	--slider-pagination-background: #{$blue-grey400};
	--slider-pagination-border: #{$blue10};
	--slider-pagination-background-active: #{$white};
	--slider-pagination-border-active: #{$red400};
	--slider-chevron: #{$red400};

	--full-background: #{$blue10};
	--full-border: #{$red400};
	--full-box-shadow: 0 7px 22px 0 rgb( 0, 0, 0, 0.35 );

	--full-close-background: #{$blue10};

	--animated-highlight-color: #{$grey800};
	/* stylelint-disable */
	--animated-highlight-gradient: linear-gradient(
		270deg,
		rgba( 255, 255, 255, 0 ) 0%,
		rgba( 255, 255, 255, 0 ) 50%,
		rgba( 255, 222, 103 ) 50%,
		rgba( 255, 222, 103 ) 100%
	);
	/* stylelint-enable */

	--field-group-border: #{$red-transparent100};
	--donation-form-button-color: #{$white};
	--donation-form-button-background: #{$green400};
	--donation-form-button-background-hover: #{$green500};

	--select-group-option-background: #{$grey100};
	--select-group-option-color: #{$grey800};
	--select-group-option-color-disabled: #{$grey150};

	--select-group-option-background-active: #{$red400};
	--select-group-option-color-active: #{$white};

	--custom-amount-currency-color: #{$white};

	--footer-usage-link-color: #{$grey450};
	--selection-input-color: #{$black};
	--selection-input-selection-color: #{$white};
	--selection-input-selection-background: #{$red400};

	@if $progress-bar {
		--progress-bar-border: #{$red400};
		--progress-bar-background: #{$blue10};
		--progress-bar-fill-background: #{$red400};
		--progress-bar-color: #{$white};
	}

	/**
	These colours are not part of our design system, but are based on the payment service's branding.
	The hex codes are inlined so as not to confuse/mix these colours with our own.
	 */
	@if $select-group-image-label {
		--paypal-primary-fill: #003087;
		--paypal-secondary-fill: #0070e0;
		--paypal-overlap-fill: #001c64;
		--paypal-primary-fill-active: #ffffff;
		--paypal-secondary-fill-active: #ffffff;
		--paypal-overlap-fill-active: transparent;

		--visa-fill: #1434cb;
		--visa-fill-active: #ffffff;

		--mastercard-primary-fill: #eb001b;
		--mastercard-secondary-fill: #f79e1b;
		--mastercard-overlap-fill: #ff5a00;
		--mastercard-text-fill: #2f292b;
		--mastercard-primary-fill-active: #ffffff;
		--mastercard-secondary-fill-active: #ffffff;
		--mastercard-overlap-fill-active: transparent;
		--mastercard-text-fill-active: #ffffff;

		--sepa-primary-fill: #0366a6;
		--sepa-secondary-fill: #a2aab5;
		--sepa-primary-fill-active: #ffffff;
		--sepa-secondary-fill-active: #ffffff;

		--bank-transfer-fill: #222222;
		--bank-transfer-fill-active: #ffffff;
	}

	@if $soft-close {
		--soft-close-background: #{$white};
		--soft-close-box-shadow: 0 3px 0.6em rgb( 60 60 60 / 40% );

		--soft-close-button-background: #{$red400};
		--soft-close-button-color: #{$white};
		--soft-close-button-background-hover: #{$red500};

		--soft-close-countdown-fill: #{$red400};
	}

	@if $upgrade-to-yearly {
		--upgrade-to-yearly-link-color: #{$red400};
		--upgrade-to-yearly-back-color: #{$red400};
	}
}
