$red100: #dbb0ad;
$red400: #990a00;
$red500: #6c0000;
$red-transparent100: rgba( 219, 176, 173, 0.3 );

$blue10: #f8f9fa; /* offwhite */

$green400: #6e9e00;
$green500: #598000;

$error: #990000;

$white: #ffffff;
$black: #000000;
$grey100: #e0e5e9;
$grey150: #d9d9d9;
$grey400: #7d8389;
$grey450: #808080;
$grey800: #222222;

$orange600: #da9000;
$orange700: #b47200;

@mixin swatch(
	$progress-bar: false,
	$select-group-image-label: false,
	$soft-close: false
) {
	--main-color: #{$grey800};
	--color-error: #{$error};

	--headline-line: #{$red100};
	--headline-background: #{$blue10};
	--headline-color: #{$red100};

	--mini-background: #{$blue10};
	--mini-border: #{$red400};
	--mini-box-shadow: 0 7px 22px 0 rgba( 0, 0, 0, 0.35 );

	--mini-button-color: #{$white};
	--mini-button-background: #{$orange600};
	--mini-button-background-hover: #{$orange700};
	--mini-button-alt-background: #{$green400};
	--mini-button-alt-background-hover: #{$green500};

	--slider-pagination-background: #{$grey400};
	--slider-pagination-border: #{$blue10};
	--slider-pagination-background-active: #{$white};
	--slider-pagination-border-active: #{$red400};

	--full-background: #{$blue10};
	--full-border: #{$red400};
	--full-box-shadow: 0 7px 22px 0 rgba( 0, 0, 0, 0.35 );

	--full-close-background: #{$blue10};

	--animated-highlight-color: #{$grey800};
	/* stylelint-disable */
	--animated-highlight-gradient: linear-gradient(
		270deg,
		rgba( 255, 255, 255, 0 ) 0%,
		rgba( 255, 255, 255, 0 ) 50%,
		rgba( 255, 222, 103 ) 50%,
		rgba( 255, 222, 103 ) 100%
	);
	/* stylelint-enable */

	--field-group-border: #{$red-transparent100};
	--donation-form-button-color: #{$white};
	--donation-form-button-background: #{$green400};
	--donation-form-button-background-hover: #{$green500};

	--select-group-option-background: #{$grey100};
	--select-group-option-color: #{$grey800};
	--select-group-option-color-disabled: #{$grey150};
	--select-group-sms-notice-color: #{$grey400};

	--select-group-option-background-active: #{$red400};
	--select-group-option-color-active: #{$white};

	--custom-amount-currency-color: #{$white};

	--footer-usage-link-color: #{$grey450};
	--selection-input-color: #{$black};
	--selection-input-selection-color: #{$white};
	--selection-input-selection-background: #{$red400};

	@if $progress-bar {
		--progress-bar-border: #{$red400};
		--progress-bar-background: #{$red400};
		--progress-bar-color: #{$white};
	}

	@if $select-group-image-label {
		--select-group-option-icon-fill-active: #{$white};
		--select-group-option-icon-fill-active-highlight: #{$red400};
	}

	@if $soft-close {
		--soft-close-background: #{$white};
		--soft-close-box-shadow: 0 3px 0.6em rgba( 60 60 60 / 40% );

		--soft-close-button-background: #{$red400};
		--soft-close-button-color: #{$white};
		--soft-close-button-background-hover: #{$red500};

		--soft-close-countdown-fill: #{$red400};
	}
}
