@use 'color_dark';
@use 'color_light';

$progress-bar: false !default;
$select-group-image-label: false !default;
$soft-close: false !default;
$sms-icon: false !default;

.skin-theme-clientpref-night .wmde-banner {
	@include color_dark.swatch(
		$progress-bar,
		$select-group-image-label,
		$soft-close,
		$sms-icon
	);
}

.skin-theme-clientpref-day .wmde-banner {
	@include color_light.swatch(
		$progress-bar,
		$select-group-image-label,
		$soft-close,
		$sms-icon
	);
}

.skin-theme-clientpref-os .wmde-banner {
	@media ( prefers-color-scheme: dark ) {
		@include color_dark.swatch(
			$progress-bar,
			$select-group-image-label,
			$soft-close,
			$sms-icon
		);
	}

	@media ( prefers-color-scheme: light ) {
		@include color_light.swatch(
			$progress-bar,
			$select-group-image-label,
			$soft-close,
			$sms-icon
		);
	}
}
