/* stylelint-disable */
#wmde-banner-app {
	top: calc( -1 * var( --wmde-banner-height ) );
}

.wmde-animate-banner :is(
	#wmde-banner-app,
	/* Vector */
	#mw-panel,
	#mw-head,
	#mw-page-base,
	/* Vector 2022 */
	.vector-header-container,
	/* Minerva */
	#mw-mf-viewport,
	#mw-mf-page-left
) {
	transition-timing-function: cubic-bezier( 0.555, 0.155, 0.14, 0.945 );
	transition-duration: var( --wmde-banner-transition-duration );
}

.wmde-animate-banner :is(
	#wmde-banner-app,
	#mw-panel,
	#mw-head,
	#mw-mf-page-left
) {
	transition-property: top;
}

.wmde-animate-banner :is(
	#mw-page-base,
	#mw-mf-viewport,
	.vector-header-container
) {
	transition-property: padding-top;
}

.wmde-show-banner #wmde-banner-app {
	top: 0;
}

.wmde-show-banner #mainbox {
	margin-top: var( --wmde-banner-height );
}

.wmde-show-banner :is(
	#mw-panel,
	#mw-head,
	#mw-mf-page-left
) {
	top: var( --wmde-banner-height );
}

.wmde-show-banner :is(
	#mw-page-base,
	#mw-mf-viewport,
	.vector-header-container
) {
	padding-top: var( --wmde-banner-height );
}
