@use 'color_light';

$slider: false !default;
$progress-bar: false !default;
$double-progress-bar: false !default;
$select-group: false !default;
$select-group-bubble: false !default;
$select-group-button: false !default;
$upgrade-to-yearly: false !default;
$already-donated: false !default;
$soft-close: false !default;
$fallback-banner: false !default;
$minimised-banner: false !default;

.wmde-banner {
	@include color_light.swatch(
		$slider,
		$progress-bar,
		$double-progress-bar,
		$select-group,
		$select-group-bubble,
		$select-group-button,
		$upgrade-to-yearly,
		$already-donated,
		$soft-close,
		$fallback-banner,
		$minimised-banner
	);
}
