@use 'blue/color_dark' as dark-blue;
@use 'blue/color_light' as light-blue;
@use 'green/color_dark' as dark-green;
@use 'green/color_light' as light-green;

$swatch: 'blue' !default;

$slider: false !default;
$progress-bar: false !default;
$double-progress-bar: false !default;
$select-group: false !default;
$select-group-bubble: false !default;
$select-group-button: false !default;
$upgrade-to-yearly: false !default;
$already-donated: false !default;
$soft-close: false !default;
$fallback-banner: false !default;
$minimised-banner: false !default;

%light-blue {
	@include light-blue.swatch(
		$slider,
		$progress-bar,
		$double-progress-bar,
		$select-group,
		$select-group-bubble,
		$select-group-button,
		$upgrade-to-yearly,
		$already-donated,
		$soft-close,
		$fallback-banner,
		$minimised-banner
	);
}

%light-green {
	@include light-green.swatch(
		$slider,
		$progress-bar,
		$double-progress-bar,
		$select-group,
		$select-group-bubble,
		$select-group-button,
		$upgrade-to-yearly,
		$already-donated,
		$soft-close,
		$fallback-banner,
		$minimised-banner
	);
}

%dark-blue {
	@include dark-blue.swatch(
		$slider,
		$progress-bar,
		$double-progress-bar,
		$select-group,
		$select-group-bubble,
		$select-group-button,
		$upgrade-to-yearly,
		$already-donated,
		$soft-close,
		$fallback-banner,
		$minimised-banner
	);
}

%dark-green {
	@include dark-green.swatch(
		$slider,
		$progress-bar,
		$double-progress-bar,
		$select-group,
		$select-group-bubble,
		$select-group-button,
		$upgrade-to-yearly,
		$already-donated,
		$soft-close,
		$fallback-banner,
		$minimised-banner
	);
}

.skin-theme-clientpref-day .wmde-banner {
	@extend %light-#{$swatch};
}

.skin-theme-clientpref-night .wmde-banner {
	@extend %dark-#{$swatch};
}

.skin-theme-clientpref-os .wmde-banner {
	@media ( prefers-color-scheme: dark ) {
		@extend %dark-#{$swatch};
	}

	@media ( prefers-color-scheme: light ) {
		@extend %light-#{$swatch};
	}
}
