@use 'BannerFooter';

@mixin layout {
	&-footer {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-start;

		&-bank,
		&-usage {
			padding: 10px 0;
		}

		&-bank {
			flex: 1 1 auto;
			display: flex;
			flex-wrap: wrap;

			&-item {
				float: left;
			}
		}

		&-already-donated {
			margin-left: auto;
		}
	}
}
