@mixin layout {
	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		&-usage {
			padding: 10px 0;
			flex-grow: 1;
		}

		&-bank {
			display: flex;
			flex-direction: column;

			.iban,
			.bic {
				white-space: nowrap;
			}
		}
	}
}
