$primary: #990a00;
$primary-light: #dbb0ad;
$secondary: #2a4b8d;
$secondary-light: #4465a7;
$secondary-lighter: #eaf3ff;
$secondary-hover: #3584c6;
$error: #990000;

$white: #ffffff;
$black: #000000;
$black-light: #202122;
$gray: #808080;
$gray-medium: #747474;
$gray-light: #dddddd;
$gray-blue: #bfd3e3;
