$primary: #990a00 !default;
$primary-light: #dbb0ad !default;
$secondary: #2a4b8d !default;
$secondary-light: #4465a7 !default;
$secondary-lighter: #eaf3ff !default;
$secondary-hover: #3584c6 !default;
$error: #990000 !default;

$white: #ffffff !default;
$black: #000000 !default;
$black-light: #202122 !default;
$gray: #808080 !default;
$gray-medium: #747474 !default;
$gray-light: #dddddd !default;
$gray-blue: #bfd3e3 !default;
