@mixin animated-text-highlight(
	$highlight-selector,
	$transparent-color: rgba( 255, 255, 255, 0 ),
	$highlight-color: rgba( 255, 222, 103 )
) {
	padding: 0 5px;

	/* stylelint-disable */
	background: linear-gradient(
		270deg,
		$transparent-color 0%,
		$transparent-color 50%,
		$highlight-color 50%,
		$highlight-color 100%
	);
	/* stylelint-enable */

	background-size: 201% 100%;
	background-position: 100% 0;
	transition: background-position 2s;

	#{$highlight-selector} {
		background-position: 0 0;
	}
}
