$white: #ffffff;
$black: #000000;

$grey100: #f4f4f4;
$grey150: #ebebeb;
$grey400: #979797;
$gre700: #202122;
$grey800: #1a1919;

@mixin swatch() {
	--background-color: #{$white};
	--color: #{$gre700};

	--close-button-background: #{$white};

	--accordion-item-border: #{$grey400};
	--accordion-item-chevron: #{$grey400};

	--benefits-list-background: #{$grey150};
	--benefits-list-icon: #{$grey800};

	--comparison-background: #{$grey100};
}
