@use 'src/components/DonationForm/SubComponents/SelectGroup';

/**
 These are for defining the column widths of the individual select groups
 Use 50% for 2 columns, use 25% for 4 columns
 */
$amount-option-width: 25% !default;
$interval-option-width: 50% !default;
$payment-option-width: 50% !default;
$border-radius: 0 !default;
$padding: 0 !default;
$height: auto !default;
$line-height: 25px !default;
$font-weight: bold !default;

.wmde-banner {
	@include SelectGroup.layout;

	&-select-group {
		font-size: 0.9em;
		font-weight: $font-weight;
		line-height: $line-height;

		&-container {
			line-height: inherit;
			background-color: var( --select-group-background );
			border-radius: $border-radius;
			padding: $padding;
			height: $height;
			margin-right: 15px;
		}

		&-error-message {
			height: 16px;
			line-height: 16px;
			color: var( --color-error );
			font-weight: bold;
			text-align: center;
			margin-bottom: 0.2em;
			font-size: 0.8em;
		}

		.wmde-banner-disabled {
			opacity: 0.3;
		}
	}

	&-select-group-container.select-amount {
		margin-top: 0;
		.wmde-banner-select-group-option {
			width: $amount-option-width;
		}
	}

	&-select-group-container.select-interval {
		.wmde-banner-select-group-option {
			width: $interval-option-width;
		}
	}

	&-select-group-container.select-payment-method {
		.wmde-banner-select-group-option {
			width: $payment-option-width;
		}
	}
}
