@use 'src/components/DonationForm/SubComponents/TransactionFees';

.wmde-banner {
	@include TransactionFees.layout;

	&-form-transaction-fee {

		input[ type='checkbox' ] {
			appearance: none;
			background: transparent;
			border: 2px solid var( --input-checkbox-border );
			border-radius: 2px;
			transition: background 0.15s ease-out;

			&:checked {
				background: var( --input-checkbox-checked-background ) url( "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.04.627.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z' style='fill:%23fff'/%3E%3C/svg%3E" ) no-repeat 50%;
				border-color: var( --input-checkbox-checked-background );
			}
		}
	}
}
