@use 'src/components/ProgressBar/ProgressBar';
@use '../variables/globals';
@use '../variables/colors';
@use 'transitions';

.wmde-banner {
	@include ProgressBar.layout;

	&-progress-bar {
		position: relative;
		font-size: 0.9em;
		font-weight: bold;

		&-text {
			z-index: 2;
			width: 100%;
			height: 32px;
			line-height: 32px;
			display: flex;
			justify-content: space-between;

			&-left {
				visibility: hidden;
				padding-left: 10px;
			}
			&-right {
				padding-right: 10px;
			}
		}

		&-fill-wrapper {
			border: 2px solid colors.$primary;
			border-radius: 8px;
			height: 32px;
			line-height: 28px;
		}

		&-fill {
			background: colors.$primary;
			min-width: 5em;
			height: 100%;
			border-radius: 5px 16px 16px 5px;
			transition: width 3000ms globals.$banner-easing;
			color: colors.$white;
			text-align: right;
			padding-right: 16px;
		}

		&--late-progress {
			margin-top: 0;

			.wmde-banner-progress-bar-text {
				position: static;
				height: 24px;
				line-height: 24px;
			}
			.wmde-banner-progress-bar-text-left {
				@media ( min-width: 600px ) {
					visibility: visible;
				}
			}
		}
	}
}
