@use '../variables/colors';

.wmde-banner-sms-box {

	width: 100%;
	padding-bottom: 8px;

	label {
		border: 1px solid colors.$radio-border-color;
		border-radius: 2px;
		background: colors.$radio-background;
		height: colors.$form-radio-height;
		line-height: colors.$form-radio-height;
		text-align: center;
		font-weight: bold;
		width: 100%;
		align-content: center;
	}

	&-notice {
		padding-top: 4px;
		color: colors.$gray;
		font-size: 11px;
		font-weight: normal;
	}

	a {
		color: colors.$black;
		&:hover,
		&:focus {
			color: colors.$black;
			text-decoration: none;
		}
	}
}
