@use 'src/components/Slider/KeenSlider';
@use '../variables/colors';
@use '../variables/fonts';
@use '../variables/breakpoints';

$slide-padding: 0 52px !default;

.wmde-banner {
	@include KeenSlider.layout;

	&-navigation-wrapper {
		box-sizing: content-box;
		padding-bottom: 14px;
	}

	&-slider {
		height: 100%;

		&-navigation-previous {
			left: 16px;
		}

		&-navigation-next {
			right: 16px;
		}
	}

	&-slide {
		cursor: grab;
		font-family: fonts.$content;
		padding: $slide-padding;

		&-content {
			text-align: center;
			font-size: fonts.$size-l;
			line-height: 1.5;

			.headline {
				font-weight: bold;
				font-size: fonts.$size-xl;
				margin-bottom: 6px;

				@include breakpoints.extra-small-up {
					font-size: fonts.$size-xxl;
				}
			}
		}
	}

	&-slider-pagination {
		height: 38px;
		margin: 0;

		&-dot {
			background: colors.$gray-medium;
			width: 15px;
			height: 15px;
			margin: 0 4px;
			border: 4px solid colors.$white;
			border-radius: 50%;

			&:focus {
				outline: 0;
			}

			&.is-active {
				background: colors.$white;
				border: 3px solid colors.$primary;
			}
		}
	}
}
