.wmde-b-checkmark-list li {
	display: flex;
}

.wmde-b-checkmark-list svg {
	margin-block-start: 0.2lh;
	margin-inline-end: var( --space-3xs );
}

.wmde-b-checkmark-list > li + li {
	margin-block-start: var( --space-2xs );
}
