.wmde-b-content-card {
	background: var(--content-card-background);
	border-bottom: 1px solid var(--content-card-border);
	border-radius: 4px;
	padding: var(--space-s-xl);
}

.skin-theme-clientpref-night .wmde-banner {
	--content-card-background: var(--colour-black);
	--content-card-border: var(--colour-blue-300);
}

@media ( prefers-color-scheme: dark ) {
	.skin-theme-clientpref-os .wmde-banner {
		--content-card-background: var(--colour-black);
		--content-card-border: var(--colour-blue-300);
	}
}