.wmde-b-content-card {
	--content-card-background: var(--colour-white);
	--content-card-border: var(--colour-blue-500);

	background: var(--content-card-background);
	border-bottom: 1px solid var(--content-card-border);
	border-radius: 4px;
	padding: var(--space-s-xl);
}

.wmde-b-content-card-header {
	--content-card-header-background: var(--colour-blue-500);
	--content-card-header-color: var(--colour-white);
	--cluster-horizontal-alignment: center;

	background: var(--content-card-header-background);
	color: var(--content-card-header-color);
	border-radius: 4px;
	text-align: center;
	text-wrap: balance;
	padding-block-start: var(--space-s);
	padding-block-end: calc(var(--space-xl) + var(--space-s));
	padding-inline: var(--space-s-xl);
}

.wmde-b-content-card-header + .wmde-b-content-card {
	margin-block-start: calc(var(--space-xl) * -1);
}

.skin-theme-clientpref-night .wmde-b-content-card {
	--content-card-background: var(--colour-grey-800);
	--content-card-border: var(--colour-blue-300);
}

@media ( prefers-color-scheme: dark ) {
	.skin-theme-clientpref-os .wmde-b-content-card {
		--content-card-background: var(--colour-grey-800);
		--content-card-border: var(--colour-blue-300);
	}
}