.wmde-b-icon-text {
	display: flex;
	gap: var( --space-s-l );
}

.wmde-b-icon-text__icon {
	flex-basis: 2.5rem;
	flex-grow: 0;
	flex-shrink: 0;
}

.wmde-b-icon-text__icon svg {
	width: 100%;
	max-width: 2.5rem;
	height: auto;
}
