.wmde-b-icon-text {
	display: flex;
	flex-wrap: wrap;
	gap: var(--icon-text-gap, var(--space-s-l));
}

.wmde-b-icon-text__icon {
	flex-basis: var(--icon-text-icon-target-width, 2rem);
	flex-grow: 1;
	padding-block-start: 0.5rem;
}

.wmde-b-icon-text__text {
	flex-basis: 0;
	flex-grow: 999;
	min-width: var(--icon-text-text-min-width, 30ch);
}
