.wmde-b-mini {
	--mini-banner-background: var( --colour-white );
	--mini-banner-shadow: 0 3px 0.6em rgb( 60 60 60 / 40% );

	min-height: var( --mini-banner-height );
	background: var( --mini-banner-background );
	box-shadow: var( --mini-banner-shadow );
	padding: var( --space-xs );
}

.wmde-b-mini-content {
	display: flex;
	flex-wrap: wrap;
	gap: var( --gutter );
	justify-content: center;
	align-items: center;
}

.wmde-b-mini-cta {
	text-align: center;
}

.wmde-b-mini-content > :first-child {
	font-size: var( --type-step-5 );
	flex-basis: 6ch;
	flex-grow: 1;
	text-wrap: nowrap;
	min-width: 19%;
	margin-right: 10px;
}

.wmde-b-mini-content > :last-child {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 75%;
}

.wmde-b-mini-content h2 {
	font-size: var( --type-step-5 );
}

.wmde-b-mini-content p {
	text-wrap: balance;
	font-size: var( --type-step-0-1 );
}

.skin-theme-clientpref-night .wmde-b-mini {
	--mini-banner-background: var( --colour-grey-800 );
	--mini-banner-shadow: none;
}

@media ( prefers-color-scheme: dark ) {
	.skin-theme-clientpref-os .wmde-b-mini {
		--mini-banner-background: var( --colour-grey-800 );
		--mini-banner-shadow: none;
	}
}

@media ( max-width: 500px ) {
	.wmde-b-mini-content {
		display: block;
		margin-top: -1.5lh;
	}
	.wmde-b-mini-content > :last-child {
		font-size: var( --type-step-0 );
		margin-block-start: var( --space-3xs );
	}
}
