@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale( 1.1 );
		display: none;
	}
	100% {
		opacity: 1;
		transform: scale( 1 );
		display: block;
	}
}

.wmde-b-modal {
	--modal-backdrop: var( --colour-blue-100 );
	--wrapper-max-width: 80rem;
	--close-padding: var( --space-xs );
	--close-margin: var( --space-3xs );

	border: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	inset: 0;
}

.wmde-b-modal > div {
	padding-block: var( --space-s );
}

.wmde-b-modal[ open ] {
	width: 100vw;
	/* stylelint-disable */
	height: 100vh;
	height: -webkit-fill-available;
	/* stylelint-enable */
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	align-items: safe center;
	animation: fade-in 300ms ease-in-out;
}

.wmde-b-modal::backdrop {
	background: var( --modal-backdrop );
}

.wmde-b-modal footer {
	--gutter: var( --space-m );
}

.skin-theme-clientpref-night .wmde-b-modal {
	--modal-backdrop: var( --colour-grey-700 );
}

@media ( prefers-color-scheme: dark ) {
	.skin-theme-clientpref-os .wmde-b-modal {
		--modal-backdrop: var( --colour-grey-700 );
	}
}
