.wmde-b-modal {
	border: 0;
	padding-inline: 0;
	margin: 0;
	background: transparent;
	inset: 0;
}

.wmde-b-modal[open] {
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	display: flex;
	align-items: safe center;
}

.wmde-b-modal::backdrop {
	background: var( --modal-backdrop );
}

.wmde-b-modal footer {
	--gutter: var(--space-m);
}
