@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(1.1);
		display: none;
	}
	100% {
		opacity: 1;
		transform: scale(1);
		display: block;
	}
}

.wmde-b-modal {
	--wrapper-max-width: 80rem;
	--close-padding: var(--space-xs);

	border: 0;
	padding-inline: 0;
	margin: 0;
	background: transparent;
	inset: 0;
}

.wmde-b-modal[open] {
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	display: flex;
	align-items: safe center;
	animation: fade-in 300ms ease-in-out;
}

.wmde-b-modal::backdrop {
	background: var(--modal-backdrop);
	opacity: 0.9;
}

.wmde-b-modal footer {
	--gutter: var(--space-m);
}

.skin-theme-clientpref-night .wmde-banner {
	--modal-backdrop: var(--colour-grey-700);
}

@media ( prefers-color-scheme: dark ) {
	.skin-theme-clientpref-os .wmde-banner {
		--modal-backdrop: var(--colour-grey-700);
	}
}
