@use 'sass:color';

$black: #000000;
$white: #ffffff;

$grey200: #d9d9d9;
$grey500: #555555;
$grey800: #242424;

$sea-blue100: #43e5c5;
$sea-blue300: #0ea789;

$blue50: #c3d9eb;
$blue200: #8bb8da;
$blue300: #0e75c4;
$blue400: #45779d;
$blue600: #344c5e;

@mixin swatch() {
	--text-color: #{$white};
	--close-icon-stroke: #{$white};

	--mini-background: #{$grey800};
	--mini-box-shadow: none;

	--progress-border: #{$sea-blue300};
	--progress-color: #{$white};
	--progress-fill-background: #{$sea-blue300};
	--progress-fill-icon-border: #{$grey800};
	--progress-fill-icon-background: #{$sea-blue100};
	--progress-fill-icon-content: #{$white};

	--read-more-background: #{$blue300};
	--read-more-background-hover: #{color.adjust( $blue300, $lightness: -5% )};
	--read-more-color: #{$white};

	--full-background: #{$grey800};
	--full-color: #{$white};
	--full-heading-color: #{$blue200};
	--full-highlight-background: #{$blue600};

	--stats-border: #{$grey500};
	--stats-bold-color: #{$blue200};
	--stats-people-color: #{$blue200};
	--stats-average-column-color: #{$blue200};
	--stats-average-line-color: #{$white};
	--stats-contribution-background-color: #{$blue200};
	--stats-contribution-line-color: #{$grey800};

	--cta-with-button-background: #{$blue300};
	--cta-with-button-background-hover: #{color.adjust( $blue300, $lightness: -5% )};
	--cta-with-button-color: #{$white};

	--cta-without-button-background: #{$grey200};
	--cta-without-button-background-hover: #{color.adjust( $grey200, $lightness: -5% )};
	--cta-without-button-color: #{$black};

	--footer-background: #{$blue600};
	--list-tick-background: #{$sea-blue300};
	--list-tick-stroke: #{$white};
	--link-color: #{$blue50};
	--link-color-hover: #{color.adjust( $blue50, $lightness: -5% )};
}
