@use 'src/themes/Treedip/variables/colors';

$banner-height: 357px !default;
$form-width: 300px !default;

.wmde-banner {
	&-main {
		min-height: $banner-height;
		padding: 10px 10px 0;
		display: flex;
		justify-content: stretch;
	}

	&-visual-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 10px 16px 0;
		border-radius: 9px;
		border: 5px solid colors.$primary;
		box-shadow: 0 4px 12px 4px rgba( 20 20 20 / 55% );
		background-color: colors.$white;
	}

	&-content {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}

	&-column-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 1 auto;
		margin-bottom: 0;
		overflow-y: hidden;
		margin-right: 50px;
		padding: 0 0 10px;
	}

	&-column-right {
		order: 2;
		flex: 0 0 $form-width;
		display: flex;
		flex-direction: column;
		width: $form-width;
		height: 100%;
		padding: 0 0 10px;
	}

	&--pending {
		.wmde-banner-visual-container {
			box-shadow: none;
		}
	}
}
