@use 'src/components/ButtonClose/ButtonClose';
@use '../variables/colors';

.wmde-banner {
	@include ButtonClose.layout;

	&-close {
		padding: 8px 8px 0 0;
		text-align: center;
		width: 30px;
		height: 30px;
		line-height: 30px;

		&-link {
			color: colors.$black-light;
			font-size: 25px;
			&:hover {
				text-decoration: none;
				color: colors.$gray-medium;
			}
		}
	}
}
