@use '@src/themes/Treedip/variables/fonts';

.wmde-banner {
	&-wrapper {
		font-size: 14px;
		font-family: fonts.$ui;
		border-bottom: 1px solid var( --main-border-bottom );
		background-color: var( --main-background );
		color: var( --main-color );
	}

	&--closed {
		.wmde-banner-wrapper {
			display: none;
		}
	}

	.wmde-banner-already-donated-button {
		position: absolute;
		top: 25px;
		left: 35px;
		display: flex;
		align-items: center;
		gap: 4px;
		background: none;
		border: none;
		cursor: pointer;
		color: var( --banner-text-color );
	}
}
