@use '../../../components/DonationForm/MultiStepDonation';
@use '../variables/breakpoints';

.wmde-banner {
	@include MultiStepDonation.layout;

	&-form {
		height: auto;

		&-field-group {
			border: none;
			padding: 0;
			margin: 0 0 16px;
		}

		&-field-group-legend {
			display: block;
			width: 100%;
			text-align: center;
			height: 18px;
			line-height: 18px;
			margin-bottom: 8px;
			color: var( --select-group-legend-color );
		}

		&-button {
			height: 50px;
			line-height: 50px;
			border-radius: 20px;
			font-weight: bold;
			font-size: 15px;
			color: var( --donation-form-button-color );
			padding: 0;
			background: var( --donation-form-button-background );

			&:hover,
			&:focus {
				background: var( --donation-form-button-background-hover );
			}

			@include breakpoints.phone-xs-up {
				font-size: 18px;
			}
		}

		&-button-error {
			display: block;
			padding: 5px 0;
			width: 100%;
			color: var( --color-error );
			text-align: center;
			font-size: 14px;
			font-weight: bold;
		}
	}

	&-form-slider {
		height: 100%;
		width: 100%;
	}

	&-sub-form {
		padding: 16px 6px;
		flex-direction: column;
		justify-content: space-between;
		min-width: 100%;
		max-width: 100%;
	}
}
