@use '../variables/fonts';
@use '../variables/mixins';

.wmde-banner {
	&-message {
		font-family: fonts.$content;
		font-size: 18px;
		line-height: 1.3em;
		text-align: left;

		p {
			margin: 0 0 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		// This does NOT work yet
		@include mixins.animated-text-highlight( '.wmde-banner-text-animated-highlight' );
	}
}
