@use '../variables/fonts';
@use 'src/components/Footer/SelectionInput';

.wmde-banner {
	@include SelectionInput.layout;

	&-selection-input {
		margin-left: 5px;

		&-text,
		&-input {
			font-weight: bold;
			font-size: 12px;
		}
		&-input {
			font-family: fonts.$ui;
			outline: 0;
			background: transparent;
			color: transparent;
		}

		&.focused {
			.wmde-banner-selection-input-text {
				color: transparent;
			}
			.wmde-banner-selection-input-input {
				color: var( --input-selection-color );

				&::selection {
					background: var( --input-selection-selected-background );
					color: var( --input-selection-selected-color );
				}
			}
		}
	}
}
